[2017-11-02 14:48] jbergstroem opened #2 "Purging cache"
nuster should support purging via `HTTP PURGE` to the same endpoint (with ACL; usually just matching over addr/netmask). Bonus points for globbing (`*.jpg`).

[2017-12-27 14:45] frank0826 commented on #2
How do you count the cache hit rate of nuster ？

[2017-12-28 00:38] jiangwenyuan commented on #2
@jbergstroem @frank0826 These features will be added in next version(v1.7.9.3), including purging cache(by key, by name, by tag...), enable/disable caching on the fly, cache stats(hit rate, mem usage, etc).

[2018-01-25 14:14] maxid opened #3 "Have a plan to support docker?"
Have a plan to support docker?

[2018-01-26 00:19] jiangwenyuan commented on #3
Yes, https://hub.docker.com/r/nuster/nuster/ , I will push later

[2018-01-26 03:00] Zeeman206 opened #4 "Have a Plan to support “coap”？"
Have a Plan to support “coap”？

[2018-01-26 03:26] jiangwenyuan commented on #3
Pushed

[2018-01-26 03:26] #3 closed

[2018-01-26 03:28] jiangwenyuan commented on #4
Not right now.

I'm going to add QUIC support in nuster after importing HTTP2 which was added in HAProxy 1.8 recently.

[2018-01-27 13:39] #4 closed

[2018-01-28 12:40] elfring opened #5 "reserved identifier violation"
I would like to point out that identifiers like “[`_PROTO_PATTERN_H`](https://github.com/jiangwenyuan/nuster/blob/fb8248c3ddc39b7e15ce3f5e354f45ffc38c03c1/include/proto/pattern.h#L22 "Update candidate")” and “[`_TYPES_CACHE_H`](https://github.com/jiangwenyuan/nuster/blob/e3fcacdeb3aae05416fda5578cc88534593a80c6/include/types/cache.h#L22 "Another update candidate")” [do not fit](https://www.securec

[2018-01-29 00:39] jiangwenyuan commented on #5
Thanks for pointing this out, I completely agree. I'd like to eventually fix this one in order to avoid conflict with HAProxy. It will take some time though.
Thanks again for commenting!

[2018-01-29 00:39] #5 closed

[2018-01-29 12:21] elfring commented on #5
How are the chances to [fix affected implementation details](https://www.securecoding.cert.org/confluence/display/c/CC.+Undefined+Behavior#CC.UndefinedBehavior-ub_106 "Avoiding undefined behaviour?") also for [the software “HAProxy”](https://www.haproxy.org/ "Load balancer")?

[2018-01-30 00:09] jiangwenyuan commented on #5
It's totally up to them, maybe better to fire an issue.

[2018-02-01 16:08] JustinAzoff opened #6 "Cache key normalization does not properly distinguish requests"
**Is this a BUG report or FEATURE request?**:

Bug

**What happened**:

The default cache key normalizes different requests to the same cache key

**What you expected to happen**:

Different requests would use different cache keys

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Then make two requests that differ only in the position of the '?':

[code]

**Anything else

[2018-02-04 05:41] #6 closed

[2018-02-04 05:45] jiangwenyuan commented on #6
@JustinAzoff Thanks a lot for pointing out :)

[2018-02-08 01:56] icefoxen opened #7 "More sophisticated benchmarks?"
**Is this a BUG report or FEATURE request?**: Feature

**What happened**: I like your benchmarks, recently posted on lobste.rs, and I like your thoroughness in documenting your configs. However, would it be feasible to do something a bit bigger and/or more sophisticated than hello world?

[2018-02-08 03:06] jiangwenyuan commented on #7
@icefoxen Hi, i'm very happy to do that. Anything concrete you are expecting? Any references, links to suck kind benchmarks would be help

[2018-02-08 04:35] icefoxen commented on #7
Hi! The first things that come to mind are just larger data transfers and maybe small non-caching data (webapps, etc) to see how it does. I am not able expert on benchmarking http caches. :-)

[2018-02-08 04:56] jiangwenyuan commented on #7
I see, I did do the test with large data (1k bytes), but as you can find [here](https://github.com/jiangwenyuan/nuster/wiki/Web-cache-server-performance-benchmark:-nuster-vs-nginx-vs-varnish-vs-squid#wrk-on-server129-cache-servers-on-server130-1gbps-bandwidth), reach the max throughput of the network when I test 256 bytes file. I only have 1Gb network, I certainly will do that if I have a 10Gb net

[2018-02-15 00:32] jiangwenyuan commented on #7
Hi, I'm closing this, will add other benchmarks later

[2018-02-15 00:32] #7 closed

[2018-02-22 08:06] kongsys opened #8 "和squid相比性能如何"
如题

[2018-02-22 08:38] jiangwenyuan commented on #8
RPS大概是3倍

详见 https://github.com/jiangwenyuan/nuster/wiki/Web-cache-server-performance-benchmark:-nuster-vs-squid

[2018-02-25 12:51] #8 closed

[2018-03-06 09:02] myselfghost opened #9 "性能描述有问题"
![nuster](https://user-images.githubusercontent.com/16330754/37023150-fa4c7c0e-215f-11e8-9ebe-bddcd808d730.png)

在实际生产环境中，显然是1K 或者大于1K的场景，那么从数据来看看明明是接近的性能，为什么是2倍，3倍？

[2018-03-06 14:11] jiangwenyuan commented on #9
@myselfghost 这是带宽已经打满的情况，所以差不多。因为只有1gbps的带宽，在文件超过256字节时带宽就打满了。如果有10gbps的网络的话可以试一下。

[2018-03-07 15:22] frank0826 opened #10 "nuster 目前支持 HTTP/2.0么 ？ 如果是https 对于和nginx 性能对比如何？"
**Is this a BUG report or FEATURE request?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OS (CentOS? Ubuntu?...)
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-07 15:22] #10 closed

[2018-03-09 02:16] #9 closed

[2018-03-21 04:55] jiangwenyuan commented on #2
@jbergstroem @frank0826 Purging is added. There are various way to purge. Please see https://github.com/jiangwenyuan/nuster#purge-cache
Please have a try.
stats will be added in next release.

[2018-03-29 05:52] robert1112 opened #11 "Can I use it with Wordpress?"
Hi Is there easy way to use it with Ngxin and wordpress? Thank you.

[2018-03-29 06:50] jiangwenyuan commented on #11
Hi,

Yes, you can use it with (Nginx and) wordpress, and I think the setup is quite easy.

[2018-03-29 06:54] robert1112 commented on #11
Hi @jiangwenyuan
Nice to hear from you so soon! We got a HAProxy in the front of Nginx. And how will the user purge the cache from Wordpress directly from Wordpress dashboard without a wordpress plugin? Is there further caution/ advice I can take from you? Thank you.

[2018-03-29 07:10] jiangwenyuan commented on #11
Hi @robert1112

I'm not familiar with wordpress dashboard, basically purging cache is done by making HTTP `PURGE` or `POST` requests, as long as you can make HTTP request in dashboard, I think you can purge cache without plugin.

[2018-03-29 09:43] robert1112 commented on #11
Okay I will see it can be pulled off. Thank you so mcuh for your excellent work.

[2018-03-29 09:44] #11 closed

[2018-03-29 11:24] jiangwenyuan commented on #11
Not at all, feel free to fire any issues

[2018-04-01 04:25] jiangwenyuan commented on #2
@frank0826 cache stats has been added. Please take a look https://github.com/jiangwenyuan/nuster#cache-stats

[2018-04-01 04:25] #2 closed

[2018-04-13 10:21] maxid opened #12 "作为地图瓦片服务缓存时同名文件名缓存问题(url不一样)"
**Is this a BUG report or FEATURE request?**:
作为地图瓦片服务缓存时同名文件名缓存问题(url不一样)，默认缓存是按文件名缓存，而不是按url缓存？
地图瓦片服务不同的level下，会有文件名相同的情况，那样经过缓存后，在不同的level下，访问文件名相同，但URL是不一样的，只会返回首次缓存的内容！
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OS (CentOS? Ubuntu?...)
- Kernel (e.g. `uname -a

[2018-04-13 12:31] jiangwenyuan commented on #12
@maxid 感谢使用和反馈。能详细说明下吗？比如URL和文件名实例。默认是按照URL缓存的。

[2018-04-14 01:40] maxid commented on #12
如下图所示
![image](https://user-images.githubusercontent.com/927429/38763135-deed00b0-3fc7-11e8-88d6-9f6fcdc965a4.png)

[2018-04-14 01:45] maxid commented on #12
使用缓存后的效果如下，如果不使用，则正常
![image](https://user-images.githubusercontent.com/927429/38763167-5a2fd98c-3fc8-11e8-912b-7e5b1b819280.png)

[2018-04-14 02:09] jiangwenyuan commented on #12
可以在global加入`debug`，查看key，默认情况下key是 `GET.http.localhost:63342.arctile-decode/data/decode/_alllayers/L2/R000004d5/C00000698.ng`

[2018-04-14 02:15] jiangwenyuan commented on #12
有没有办法可以在我这边重现？比如提供一个后端app的docker image?

[2018-04-14 02:37] maxid commented on #12
好的，我试下，backend看看能否提供吧

[2018-04-14 02:51] jiangwenyuan commented on #12
OK，方面的话可以把debug输出的信息提供一下，有私密信息的话邮件发送也可以

[2018-04-16 02:57] maxid commented on #12
开启了debug模式，但使用docker logs看不到有相关日志输出

[2018-04-16 03:13] jiangwenyuan commented on #12
用的docker啊，现在的image不支持logs。可以这样
` docker run -it -p 8080:8080 -v $HOME/conf:/etc/nuster/nuster.cfg:ro nuster/nuster bash`
然后
`root@30389101a087:/# haproxy -f /etc/nuster/nuster.cfg`

[2018-04-19 00:28] jiangwenyuan commented on #12
@maxid Hi，请问这个问题有没有解决呢？这两天会发布下一个版本，如果确定是bug希望可以修复之前再发布

[2018-04-21 00:36] #12 closed

[2018-05-29 02:17] delgyd opened #13 "有没有详细配置文档哟"
有没有详细的配置文档哟

[2018-05-29 03:05] jiangwenyuan commented on #13
@delgyd HAProxy的配置文件
https://cbonte.github.io/haproxy-dconv/1.8/configuration.html

nuster相关的都在README.md

[2018-06-02 02:01] #13 closed

[2018-06-07 09:50] forestlei opened #14 "能支持透明代理么"
能支持透明代理么

[2018-06-08 01:21] jiangwenyuan commented on #14
@forestlei  可以参考
https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#4.2-option%20transparent
https://www.haproxy.com/blog/howto-transparent-proxying-and-binding-with-haproxy-and-aloha-load-balancer/

[2018-06-08 02:08] zabio3 opened #15 "Have a plan support comparing "Last-Modified" with "If-Modified-Since"?"
I set response header with "Last-Modified" in an application.

Therefore, when the application's content expires on client browser, it inquires the application with request header "If-Modified-Since".

I want to use nuster as cache server, but I don't know to compare "Last-Modified" with "If-Modified-Since" by using nuster.

Is it possible to do the above comparison?

[2018-06-08 09:32] zabio3 opened #16 "Can "nuster" use disk as cache area?"
If "nuster" consume fully the cache area of memory, I make it to save the cache on disk.
(Priority order : memory cache area -> disk cache area)

[2018-06-08 09:35] zabio3 opened #17 "Display cache stats by host"
I want to get statistics data by host.
However, only all statistics data can be acquired now.

Have a plan support to do the above matters?

[2018-06-08 09:41] zabio3 opened #18 "Confirm cache content"
I want to search cache content by url.

I am very interested in "nuster". (Especially, cache purging  by regex : ) )

I am really sorry to have asked you so much.

[2018-06-08 10:22] jiangwenyuan commented on #16
No, currently nuster only use memory as storage, I'm working on disk persistence right now, also syncing between nodes is also planned.

[2018-06-08 10:28] jiangwenyuan commented on #17
No plans right now. I could look into it after several big features I'm working on. anyway PR is always welcomed:)

[2018-06-08 10:30] jiangwenyuan commented on #18
Not at all, feel free to ask anything:)

What do you mean by `search cache content by url `? can you give me an example?

[2018-06-08 12:35] zabio3 commented on #18
Thank you : )

Example

If you send a request to "nuster" in some way, the result of content like the following will be returned.

Sample Request

[code]

Sample Response
[code]

[2018-06-08 12:38] zabio3 commented on #15
Thank you for your immediate reply !

It is included in todo : )
I would like to send pr if possible.

[2018-06-08 12:40] zabio3 commented on #16
Thank you for your immediate reply : )

I expect that the function will be upgraded.

[2018-06-08 12:41] zabio3 commented on #17
Thank you for your immediate reply !

I would like to send pr if possible.

[2018-06-12 21:56] grachevko opened #19 "[Feature Request] ESI Support"
Is it possible to implement ESI support?
http cache is not much powerful without it.

[2018-06-13 00:05] #14 closed

[2018-06-13 00:07] jiangwenyuan commented on #19
I'd like to have ESI implemented

[2018-07-03 06:59] suconghou opened #20 "Bug: vhost cache key error"
[code]

haproxy -d -f haproxy.cfg

see log foud all the backend got the same key

[2018-07-03 07:53] jiangwenyuan commented on #20
Hi, @suconghou  thanks for reporting, could you show me the command to reproduce it?

1. backend regist

 `curl http://127.0.0.1:2080/aa -H "Host: npm.ourwill.cn:2080" >/dev/null`

[CACHE] Got key: HTTP.registry.npm.taobao.org./aa.

2. backend cdnserver

 `curl http://127.0.0.1:2080/aa -H "Host: cdn.npm.taobao.org:2080" >/dev/null`

[CACHE] Got key: HTTP.cdn.npm.taobao.org./aa.

3. no host, defaul

[2018-07-04 02:05] suconghou commented on #20
@jiangwenyuan

I found the problem , I use nginx to proxy haproxy

[code]

haproxy got the request without host:port
but the acl rule
[code]

which maybe incorrect

thank you !

[2018-07-04 03:19] jiangwenyuan commented on #20
I see, thank you:)

[2018-07-04 03:19] #20 closed

[2018-07-07 06:18] paul-hammant opened #21 "README mentioned "HAProxy" but should say more."
Does this replace HAProxy?  Completely - as in every feature?  What's in the README is a teaser, but does't say much.

[2018-07-07 06:19] paul-hammant commented on #21
Ignore me I was reading https://github.com/jiangwenyuan/nuster/wiki/NuSTER-NoSQL per the Reddit link today, not the README which says much more.

[2018-07-07 06:19] #21 closed

[2018-08-06 13:53] greenx opened #22 "Wrong rule parsing"
The documentation says:
[code]
I made my rule:
[code]
And got the error:
[code]
Judging by the code, it should not work right.

https://github.com/jiangwenyuan/nuster/blob/v1.8.x/src/nuster/parser.c#L560
[code]
The result is that the code must be before the key.
And a similar bug with the TTL parameter.
The only working sequence: TTL, Code, KEY.
[code]

[2018-08-07 14:02] greenx opened #23 "incorrect response from cache"
I try use nuster for cache openstack swift.
It have REST API for requesting list of container.
If I use standard python-swift client.
Starting at the second attempt listing goes into an infinite loop.
Example request:
[code]
As a result, we get two HTTP requests:
[code]
First request: return json with list of files.
Second request: We make sure that there are no more files. Requesting the listing

[2018-08-08 05:48] greenx commented on #23
I got it! A funny bug :)
This is how it works (you config):
[code]
And here so leaves to loop. But, in theory, this is the same:
[code]

[2018-08-08 09:28] jiangwenyuan commented on #23
Aha! Confirmed. interesting..it should be same basically.

I'll look into this.

Meanwhile, please avoid using `listen` as per haproxy configruation:

parts combined in one section. It is generally useful for TCP-only traffic.

[2018-08-08 12:15] jiangwenyuan commented on #23
The reason is that in `listen` section, `nuster cache|rule` is added to `frontend`, while it has to be in `backend`. I'm going to disable using nuster in `listen`.

[2018-08-09 12:24] #22 closed

[2018-08-09 12:26] jiangwenyuan commented on #22
@greenx Hi, I've fixed this, could you please confirm using master branch?
thanks

[2018-08-10 08:05] greenx commented on #22
Yes. All six variants work.

[2018-08-10 10:26] greenx opened #24 "Segmentation fault."
Hi, again :-)
Next trouble - Segmentation fault.

I'm doing a small load testing using https://github.com/swiftstack/ssbench
I make 100-200 parallel requests 10Mbyte.  (Mostly GET)
If there is enough memory to cache requests - everything works fine.
As soon as the memory runs out, after several connections the program closes with an error.
The program SIGSEGV if it is hollowed when the cache is fu

[2018-08-10 13:46] jiangwenyuan commented on #24
wow, thank you so much:)
I remember I've fixed this.. just a quick check, what version are you using? are you doing, like `data-size 10m`, and segfault when request >10M+?

[2018-08-10 14:04] jiangwenyuan commented on #24
wow thank you so much, no trouble at all:)

[2018-08-10 15:59] jiangwenyuan commented on #24
I knew it..
I've fixed this bug in nosql.engine already but forgot to port it to cache.engine:(

[2018-08-11 06:01] #23 closed

[2018-08-11 06:01] #24 closed

[2018-08-11 06:02] jiangwenyuan commented on #24
Hi, should be fixed in master

[2018-08-12 01:29] proyb6 opened #25 "Is H2O HTTP Server faster than Nginx?"
Saw a comment link to https://github.com/jiangwenyuan/nuster/wiki/Web-cache-server-performance-benchmark%3A-nuster-vs-nginx-vs-varnish-vs-squid

In additional, I've been running H2O HTTP Server if you are curious how its fare and it's faster than Nginx on my VPS with maximum tuning, how does it compare to nuster in your beef hardware? I'm curious. TechEmpower Benchmark seem to shown it's blazing f

[2018-08-12 04:39] jiangwenyuan commented on #25
Hi,

I benchmarked the static file performance of h2o and nginx(https://h2o.examp1e.net/benchmarks.html, latest version at that time), as h2o does not have cache ability,  but didn't get the same result h2o claimed. Maybe I did something wrong, I'm happy to test if you can provide h2o.conf.

BTW, here's a http/2 cache benchmark of nuster vs nginx: https://github.com/jiangwenyuan/nuster/wiki/Web-ca

[2018-08-12 05:01] proyb6 commented on #25
Yup, H2O will need MRuby-Hiredis (https://github.com/Asmod4n/mruby-hiredis) using unix socket or MRuby-localmemcache (https://github.com/matsumotory/mruby-localmemcache)

Both can ```git clone``` into the H2O deps folder and cmake without additional configuration provided either redis or memcache are running respectively.

Although, I haven't started to test localmemcache yet, I can share redis ve

[2018-08-12 05:35] jiangwenyuan commented on #25
Thanks, let me do the test and get back here once done.

Meanwhile, great to see your test of h2o vs nuster vs nginx, you can use the config file here:
https://github.com/jiangwenyuan/nuster/wiki/Web-cache-server-HTTP-2-performance-benchmark%3A-nuster-vs-nginx :)

[2018-08-12 06:05] proyb6 commented on #25
I'm also unsure if those sysctl tweaks recommend could boost network performance or may have a negative impact for low-memory VPS?

sysctl.conf
[code]

For your info if you like to test:
https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/C/h2o
https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Ruby/h2o_mruby

How about participate in TechEmpower benchm

[2018-08-13 00:16] jiangwenyuan commented on #25
I've tested using both master branch of h2o and nuster

nuster.conf:

https://github.com/jiangwenyuan/nuster/wiki/Web-cache-server-HTTP-2-performance-benchmark%3A-nuster-vs-nginx

h2o.conf:

[code]

I added some header to make response the same size:

[code]

and here's the result:

[code]

so nuster : 363798, and h2o: 83582, with errors

As the TechEmpower you mentioned, nuster is not suited, as

[2018-08-13 05:11] proyb6 commented on #25
I will be more curious if combining H2O and nuster will be possible? I was thinking about the possibility like LiteSpeed Cache for Wordpress is design to work with LiteSpeed engine.

If H2O and nuster are very well complement to each other, I will be keen to experiment on community sites.

[2018-08-13 05:32] jiangwenyuan commented on #25
yeah, it's possible. for example, put nuster in front of h2o, nuster will accept request from user and forward to h2o

nuster.conf

[code]

[2018-08-13 09:56] proyb6 commented on #25
Nuster can run as HTTP/2 and rename/redirect the request URL if I need to return different files?

Return the user request instead of index.html it return indexhttps.html

[2018-08-13 10:56] proyb6 commented on #25
I seem to see your config  is Server: nginx/1.10.3?

[2018-08-13 11:26] jiangwenyuan commented on #25
yeah, no problem

Not yet, have a plan of it

no problem

yeah, the origin server is nginx, nuster is in front of nginx, nuster will forward first request to nginx and cache the response, then serve the rest request by itself.

[2018-08-13 13:12] proyb6 commented on #25
I get the idea, so the H2O in this test is on 12 cores?

Lastly, how it fare on 1 core with H2Load without the Hiredis, just  since I'm curious how it stack up against Nginx

https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Ruby/h2o_mruby

[2018-08-13 15:49] proyb6 opened #26 "Data size 4K, 8K, 16K and 32K"
Most of the sites will have a large files size as mine HTML is nearly 16KB (compressed)

Should Nuster includes more data size?

[2018-08-13 23:55] jiangwenyuan commented on #25
Yeah, it's on 12 cores.

That would be interesting:)

[2018-08-13 23:57] jiangwenyuan commented on #26
You mean in the test?

nuster can cache any size of response.

[2018-08-14 04:11] proyb6 commented on #26
I mean I like to see more results in the existing benchmark

[2018-08-14 05:05] jiangwenyuan commented on #26
I'd like to that too, my test network is 1G, if i test 1kb file with 1000 connections, the whole bandwidth is used. so the results do not make much difference

[2018-08-14 10:07] proyb6 commented on #26
I see, I’m thinking if a VPS has more network bandwidth

[2018-08-15 11:16] #25 closed

[2018-08-15 11:16] #26 closed

[2018-09-03 10:11] Dexus77 opened #28 "maybe 3 bugs"
**Is this a BUG report or FEATURE request?**:
BUG report
**Environment**:
- OS CentOS-7
- Kernel   3.10.0-862.3.3.el7.x86_64
- Nuster v2.0.2.18

Thank you very much for your work. A very interesting solution is to unite HAproxy with Cache and NoSQL.

BUG 1
 a bug with a freeze request cache from the backend.
    - Create in the settings 2 backend the first for static caching, the second for html h

[2018-09-03 10:39] Dexus77 opened #29 "update cache record ttl"
**Is this a BUG report or FEATURE request?**:
FEATURE request

I'll support zabio3.
Last-Modified support and cache search would be nice.

I'd like to be able to extend TTL cache records at the level of the rules.

Idea in what

Cache private user page for a user session for example for 5 minutes, if the user repeatedly accesses the page within 5 minutes, extend its record TTL for another 5 minute

[2018-09-04 05:49] jiangwenyuan commented on #28
Hi, thanks for the reporting:)

I've did a little investigation and confirmed bug 1 but cannot confirm bug2/3.

bug 2:

if you didn't set key first, 404 is returned:

[code]

if you have set key already:

[code]

bug 3:

I use this script:

[code]

cannot reproduce it.

could you please help me reproduce it?

[2018-09-04 11:26] Dexus77 commented on #28
Bug 2-3 is really tricky only occurs in a certain configuration. Today, I sketched out the code to check the bug and it did not work for me, it was ok.

If you checked with the configuration of nuster for a bug 1 where on one backend the cache is disabled, and chache on the second the bugs 2-3 are disabled in this configuration do not show themselves.

Try to enable caching on both backends, but e

[2018-09-05 06:13] Dexus77 commented on #28
I was able to find out why there is a processor leak.
It is necessary as a value to put a dict and load wrk.

[code]

[2018-09-05 11:26] jiangwenyuan commented on #28
Thanks, but I still cannot reproduce bug2/3, your app only gives me this error which i think has nothing to do with nuster, I tried with nginx(only get part) , and can get this error too.

[code]

BTW, bug 1 has beed fixed in 2d944617edfa871f73d901035ee0b810475c639e

[2018-09-05 15:55] Dexus77 commented on #28
Yes this is what I was talking about. The bug 2 nuster terminates the connection and the aiohttp client can not write to it. CancelledError can still be a ServerDisconnect. To exclude errors aiohttp checked on another web framework the situation was similar. Did you notice after these errors that Nuster did not consume 100% of the CPU? (Bag3)

[2018-09-06 01:02] jiangwenyuan commented on #28
Hi, if you try this code:

[code]

and run `nginx` to serve `'http://127.0.0.1/index.html'` , the error still appears.

Do you mean `consume 100% cpu` instead of `did not consume` ?

No, nuster did not consume 100% of the CPU.

[2018-10-05 11:12] jiangwenyuan commented on #28
Hi, I've being trying to reproduce bug2/3, but still cannot reproduce. I'm closing it now, feel free to reopen it.

BTW bug1 has fixed and merged into master.

thanks

[2018-10-05 11:12] #28 closed

[2018-10-31 13:02] Nitradamus opened #30 "hangs on returning HIT"
I'm trying to play around with Nuster in front of nginx/varnish and I've stumbled upon a issue where if a key is set, the next hit doesn't return any output back to the client.

The first  request goes all good, but the second one (which should return the cached content) just hangs and doesn't output anything resulting in a non-working site.

It seems to only be when using Varnish as backend, and

[2018-10-31 13:34] Nitradamus commented on #30
Not sure if this helps in any way, but running with strace shows the following on the second hit:

[code]

[2018-11-02 10:32] Nitradamus commented on #30
hi @jiangwenyuan, thanks for the help thus far. I made sure Varnish and/or nginx wasn't the problem, both backends give me the same result.

I can recreate it by using the following php code on index.php

<?php phpinfo(); ?>

only requesting the headers with curl -I https://domain.com works fine:

[code]

normal GET:

[code]

^ Freezes at HIT

I tried changing nginx/varnish config, only using ngin

[2018-11-02 10:39] Nitradamus commented on #30
Weirdly enough, everything is fine when I just use the following code instead of phpinfo():

`<?php echo 'hi' ?>`

Could it be because of the size of the result?

[2018-11-02 15:08] jiangwenyuan commented on #30
Hi, finally found out the cause

[code]
If you comment out first two lines, there won't be any problem.

The cause is that haproxy uses a buf with default size 16K, if an http response(headers) is larger
than this size, haproxy will return HTTP 502.

In order to save memory, nuster stores first part or response body along with headers, and if you try to append long headers, there will be no room f

[2018-11-03 11:59] jiangwenyuan commented on #30
Hi @Nitradamus , fixed in 49cba5788a330cec415b4e7def90a2f90e451b51 , could you please take a look? Appreciate it:)

[2018-11-05 13:00] Nitradamus commented on #30
Thanks for this! I tried it out and it seemed to fix the problem at first however for me it creates a new one when the content-encoding is br or gzip. Now it spends a lot of time in '[CACHE] To create' but it already has the content from the backend by then?

Reverting back to the original code and commenting out the rspadd values like you said fixes everything..

Any idea? :)

[2018-11-09 10:14] jiangwenyuan commented on #30
Hi @Nitradamus Thanks, fixed in [fixes/30 ](https://github.com/jiangwenyuan/nuster/tree/fixes/30)

I could manage to have some time to do a thorough test this weekend, it would be a great help if you can verify on your side, thanks:)

Currently nuster does not support `Vary`, you can specify a custom key like `   nuster rule all key method.scheme.host.uri.header_Accept-Encoding ttl 0` as a workaro

[2018-11-09 13:56] Nitradamus commented on #30
Thanks for the update! It seems it's working fine now after testing it shortly. I will let you know if anything comes up :)

I'll try the suggested custom key method to deal with the content encoding!

[2018-11-16 03:56] packeteer opened #31 "How do I get POST caching to work?"
Our long term plan is to cache POST (request/response) with Nuster. Note that our requests may be 100KB, but the response may be up to 10MB.

So as a PoC, I'm trying to cache our Swagger usage. It's working in Nginx, but I'd prefer to use Nuster (Haproxy). I'm getting 503's even when trying to bring up the swagger-ui.html.

Please assist to diagnose my config:

[code]

I'm running this in AWS on a

[2018-11-16 06:20] jiangwenyuan commented on #31
Hi, if you want to cache POST, you have to include `body` in the key like this:

     nuster rule post_rule key method.scheme.host.uri.body

If POST request is greater than `bufsize`(default 16K), you have to change `tune.bufsize `, like `tune.bufsize 163840`, there is no limit to the response size though.

you are using 127.0.0.1,  maybe you should change `127.0.0.1` to your swagger container's I

[2018-11-17 00:30] serjponomarev opened #32 "Nuster Cache for S3 offload"
Can i make Nuster cache for offload to S3 server?
I need fast write access for S3 client in one thread
For example S3 Client <--> Nuster Cache in RAM <--> [Minio](https://github.com/minio/minio)/[Ceph RGW](http://docs.ceph.com/docs/mimic/radosgw/)
if yes, how to do it? Config example, please

[2018-11-17 12:34] jiangwenyuan commented on #32
Hi, just add your minio server as backend, and make minio client use the nuster ip:port.
But you might need to define some rules to only cache objects not the contents of buckets.

[2018-11-17 21:19] fmoessle opened #33 "Health Check"
How can I perform a health check when using nuster as a http cache proxy? I only want to check the health of the proxy and not the server I want to cache.

[2018-11-18 02:55] jiangwenyuan commented on #33
Hi, you can use [monitor-uri](https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#4-monitor-uri)

[code]

Or you can use [nuster uri](https://github.com/jiangwenyuan/nuster#uri-cache-only)

`nuster cache on uri /_my/_unique/_/_cache/_uri`

So you can use these urls for health check

[2018-11-18 03:01] serjponomarev commented on #32
Yes, right, i need cache only for objects, not for buckets.
What rules i need define in Nuster config for PUT/GET method?
Please, if its not hard for you, write config example for this:
cache size: 24Gb
object size: 1Mb
ip:port minio: 127.0.0.1:9000
method: PUT/GET

[2018-11-18 05:16] jiangwenyuan commented on #32
Hi, the hard part is how to tell what is a bucket list `mc ls /sth` and what is a object get `mc cp /sth sth`, as they use the same HTTP GET method `GET /sth`, unless you have some rules like all objects have a `.jpg` suffix, etc. Or you might need to observe the `mc --debug` command to find out if there is any special headers used in `ls` or `cp`, then you can use that to define nuster rules.

[2018-11-18 09:31] fmoessle commented on #33
Thank you!

[2018-11-21 03:20] packeteer commented on #31
Thanks, I was able to get it working.
Docker start line:
`docker run -d --restart always --name Nuster -v /dev/log:/dev/log -v /root/nuster.cfg:/etc/nuster/nuster.cfg:ro -p 80:80 nuster/nuster`
Nuster.cfg contents:
[code]

[2018-11-21 09:12] jiangwenyuan commented on #31
Hi, I couldn't understand your use case, could you elaborate more?

Generally speaking, you should use one nuster instance and define multiple backends.

[2018-11-22 01:32] serjponomarev commented on #32
if i have bucket in minio with name **bucket**, and object in this bucket with name **testobject**
What rules i need define in config?
I need only cache section or nosql section too?
Please, give me example

[2018-11-22 03:38] packeteer commented on #31
Thanks for that. We'll run a single instance, and use it as both load balancer and cache.
Traffic flow is:
Internet -> ALB -> Nuster -> API service -> Nuster -> backend services

[2018-11-22 04:15] packeteer commented on #31
fwiw, I've updated the key matching as our key was to "broad" and we were getting incorrect responses from the cache.
I'm now using the following:
`nuster rule all key method.uri.delimiter.query.body`

[2018-11-22 04:53] #33 closed

[2018-11-22 04:58] jiangwenyuan commented on #31
Is the post body larger than bufsize(16K) ?

[2018-11-22 06:01] packeteer commented on #31
no, our POST requests should be under 12KB.

anonymised examples:
"POST http://hostname/benefits/covers/product-ids/1?cover-id=1 HTTP/1.1"
"GET http://hostname/conditions/covers/plan-ids/121,122,123,124,125,126,127,128,129,130,131,132,133,134 HTTP/1.1"

[2018-11-22 06:13] jiangwenyuan commented on #31
The host part is missing from your key:  `method.uri.delimiter.query.body` (BTW: uri == path.delimiter.query)

You should use
`method.scheme.host.uri.body`

Cannot conclude anything from the example, post cache is supposed to work like this:

1st request:

curl -XPOST -d "id=123,121" http://hostname/somthing
==> response from backend and be cached

2nd:
curl -XPOST -d "id=123,121" http://hostname/

[2018-11-22 06:38] jiangwenyuan commented on #31
I see.

Can you help me to reproduce it? config, backend, Dockerfile would be great helpful:)

[2018-11-22 07:03] packeteer commented on #31
that might be a good idea, as method.scheme.host.uri.body doesn't seem to catch all (test suite is now failing). There were no failures with the previous key ?!?

Docker run:
`docker run -d --restart=always --name Nuster -v /dev/log:/dev/log -v /root/nuster.cfg:/etc/nuster/nuster.cfg:ro -p 80:80 nuster/nuster`
nuster.cfg:
[code]
I'd rather not share the details of our app publicly

[2018-11-22 07:39] jiangwenyuan commented on #31
You can email me:)

[2018-11-22 08:03] packeteer commented on #31
sorry, which email should I use?

On Thu, 22 Nov 2018 at 18:39, Wenyuan Jiang <notifications@github.com>
wrote:

[2018-11-22 08:31] jiangwenyuan commented on #31
you can find in git log

[2018-11-22 10:10] serjponomarev commented on #32
Thanks for the example.
for the PUT method, is it enough to replace METH_GET with METH_PUT?
I need an example for the PUT method.

[2018-11-22 11:09] serjponomarev commented on #32
For PUT requests, I used the solution here https://github.com/jiangwenyuan/nuster/issues/31
But there is a problem, after the first record, as I understand it, the existence of the record is checked and I see in the debug
**[CACHE] Checking key existence: NOT EXIST**
After the second lap of the PUT, I see
**[CACHE] Checking key existence: EXIST**
and i see acceleration.
How can I disable key verif

[2018-11-22 11:15] jiangwenyuan commented on #32
Hi, why do you want to cache PUT?

anyway

[code]

[2018-11-22 11:17] jiangwenyuan commented on #32
what do you mean `disable key verification?`

key is used to locate the cache

[2018-11-22 11:18] serjponomarev commented on #32
I want to increase the speed of PUT requests.
Client -> PUT -> CACHE -> S3 backend

[2018-11-22 11:30] serjponomarev commented on #32
@jiangwenyuan
I can not understand why acceleration occurs after the second pass PUT requests, but not for first pass.
How decide this issue?

[2018-11-22 11:39] serjponomarev commented on #32
I thought it was checking the existence of a record on the backend

[2018-11-23 01:45] jiangwenyuan commented on #32
I don't think so, when you cache PUT request, only the response not the PUT body(testobject) is cached.

[2018-11-26 15:58] Nitradamus commented on #30
Hi @jiangwenyuan, this method doesn't work as it should as it seems to only take the first setting of the Accept-Encoding header:

00000048:frontend.clihdr[0009:ffffffff]: accept-encoding: gzip, deflate, br

[CACHE] Calculate key: method.scheme.host.uri.header_Accept-Encoding.
[CACHE] Got key: GET.HTTPS.www.domain.com./folder/.gzip.

Any idea ? :)

[2018-11-27 01:59] jiangwenyuan commented on #30
Ah, right, only the first occurrence of the value is used in case of comma-separated header. This should be improved. sorry about that

[2018-11-27 14:07] Nitradamus commented on #30
No need to be sorry, but I guess  this has to be fixed within Nuster? If so, no pressure ;)

[2018-11-29 02:01] jiangwenyuan commented on #30
Yes, sure, I'm working on `vary` and other stuff (very limited spare time:(, contributors wanted:)
I will merge the fix into master and close this issue, feel free to fire issue any time:)
thanks

[2018-11-29 02:01] #30 closed

[2018-12-08 06:08] packeteer commented on #31
resolved issues. thanks

[2018-12-08 06:08] #31 closed

[2018-12-23 13:30] proyb6 opened #34 "WebSocket or Messagepack for reverse proxy to microservices"
I'm thinking on the idea if Nuster could communicate with backend microservices using WebSocket protocol or messagepack instead of HTTP for low latency and less overhead?

[2018-12-24 03:46] jiangwenyuan commented on #34
Hi, is this what you what?

https://www.haproxy.com/blog/websockets-load-balancing-with-haproxy/

[2018-12-24 06:37] proyb6 commented on #34
How well does it work if we upgrade to websocket for clients and web browser or any concern with security?

[2018-12-24 12:53] jiangwenyuan commented on #34
You should have some tests and benchmarks:)

[2018-12-24 13:53] #34 closed

[2019-01-10 15:33] Nitradamus commented on #30
Hello @jiangwenyuan, I was wondering if this (vary) was supposed to be fixed yet? I still get the same issues with different content-encoding values between clients and not sure how to get around this as of yet :(

[2019-01-11 00:41] jiangwenyuan commented on #30
Hi, unfortunately not yet:( I was busy with migration to HAProxy v1.9 and planned to work out a full support of `vary` in v1.9.

I'll make a workaround in v1.8, since there's a critical fix in HAProxy v1.8 recently, and I'm merging that:)

[2019-01-11 08:17] Nitradamus commented on #30
Awesome! Can't wait to try it out! Thanks a lot :)

[2019-01-15 14:50] jiangwenyuan commented on #30
@Nitradamus See the newest release, still need to use `header_Accept-Encoding` though.

[2019-01-21 06:09] shannonantony opened #35 "Replication of cache data to other nodes"
Implement replicating nuster node cache to other nodes

[2019-01-21 06:13] shannonantony commented on #16
syncing cache data among the nodes will be really great. do you have any timeline on that. I love nuster

thanks

[2019-01-21 10:59] jiangwenyuan commented on #35
That would be great, in fact, it's in the todo list. I'll work on this after HAProxy v1.9 migration and disk persistence implementation.  The progress is slow as I don't have much spare time as I used to.

[2019-01-21 16:48] shannonantony commented on #35
Thanks for your quick response.

Will you be using peers for the data syncing

Sent from my iPhone

[2019-01-21 20:33] shannonantony commented on #35
Please let me know if you need any testing help. I could be the first
tester. thanks Jaison

On Mon, Jan 21, 2019 at 11:48 AM Jay antony <antonyjaison@gmail.com> wrote:

[2019-01-22 01:40] jiangwenyuan commented on #35
Hi, haven't looked into peers yet, that would be great if I can just use the sync feature from peers.

[2019-01-25 08:08] rodkevchen opened #36 "ACL dont work anymore after upgrade to nuster v2.0.5.18"
After I upgraded Nuster to v2.0.5.18 one of my ACL dont work anymore.

I used following ACL Command to cache all content with a specific Content-Type in my case "image/jpeg" and "image/png".

[code]

[code]

But after the upgrade it seems the ACL dont work anymore. The othere ACLs are still working correctly.

**Environment**:
- OS (Ubuntu 18.04.1)
- Kernel (4.15.0-43-generic):

I saw there was so

[2019-01-26 02:49] jiangwenyuan commented on #36
Thanks for the reporting, this indeed is a bug introduced by that fix.

[2019-01-29 13:13] jiangwenyuan commented on #36
fixed, thanks

[2019-01-29 13:13] #36 closed

[2019-02-13 01:17] amit777 opened #37 "Are versions consistent with HAProxy?"
Is the versioning strategy of this project to maintain parity with HAProxy? I guess I'm trying to understand if this is truly just using HAProxy's core for each version then apply Nuster features as patches on top of it.. Or is it a completely divergent fork?

[2019-02-13 03:36] jiangwenyuan commented on #37
Hi, nuster is built on top of HAProxy, thus 100% compatible with it.

check https://github.com/jiangwenyuan/nuster/blob/master/Download.md#legacy-versions

[2019-03-02 06:40] Ara4Sh commented on #16
@jiangwenyuan Im also interested to cache the contents in disk and replication , thank you alot

[2019-03-10 08:54] #37 closed

[2019-03-18 09:38] 9527code opened #38 "有考虑缓存http内容到硬盘吗？"
有考虑缓存http内容到硬盘吗？全是内存应该不够用.能缓存到SSD就好了

[2019-03-18 11:24] jiangwenyuan commented on #38
@9527code 刚刚开始着手开发保存到硬盘功能

[2019-03-18 12:10] 9527code commented on #38
可考虑结合 https://github.com/chrislusf/seaweedfs
感觉可行

[2019-03-19 06:12] jiangwenyuan commented on #38
谢谢

[2019-03-19 06:50] #38 closed

[2019-03-20 04:24] 9527code opened #39 "缓存规则是否支持正则？"
`^.+\.(jpg|jpeg|gif|bmp|png|ico)$`
缓存所有图片怎么操作？

[2019-03-20 04:44] 9527code commented on #39
尝试使用
acl html path -m reg -i ^.+\.html$
acl html path_reg -i ^.+\.html$
acl html path_reg -i .+\.html

都没用
nuster rule img ttl 1d if html

[2019-03-20 04:47] #39 closed

[2019-03-20 05:33] jiangwenyuan commented on #39
@9527code 已经close，是解决了吗？

支持正则，具体可以看 https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#7

缓存所有图片可以用

`acl images path_end -i .jpg .jpeg .gif .bmp .png .ico`

如果用path_reg的话，可以用类似

`nuster rule images if { path_reg \.(png|jpg|gif)$ }`

[2019-03-22 18:16] dario30186 opened #40 "Empty response from Nuster for content in cache"
Hi,
2 days ago I installed Nuster on my server ubuntu, with image docker nuster/nuster:2.0.8.18.

Here is my configuration:
[code]

This morning nuster started to send empty response for cache content. I was obliged to restart my docker.
Do you have any idea about this problem?
thank you

[2019-03-22 18:41] dario30186 commented on #40
Should I purge cache manually ? Is it possible that cache was full ?

[2019-03-23 05:50] jiangwenyuan commented on #40
@dario30186 Hi, could you elaborate more? What exactly does `empty response` mean? TTL is set to 10s, so the cache becomes invalid after 10s.

[2019-03-23 10:51] dario30186 commented on #40
It means that for all the time the content was in the cache(10 seconds), nuster responded with empty body. I think that it knew the content was cached but it didn’t find it. After 10 seconds, the ttl expired and I got the correct response from API. Then the content was cached again and the problem still there.
I think that the memory was full and nuster tried to cache new requests without success

[2019-03-23 11:06] jiangwenyuan commented on #40
I see, so you got a response with header and empty body? Does the request go to backend? Could you enable debug and post the debug log here?
If there's not enough memory, nuster will just forward the request to and the response from origin.

[2019-03-23 11:17] dario30186 commented on #40
The request didn’t go to backend. I didn’t check for headers.
How can I activate debug mode? Where the log file is?
Actually I don’t have any errors because I restarted docker.
If the memory is full, nuster does not free memory from older requests?
In order to cache new requests I should purge manually?

[2019-03-23 11:35] jiangwenyuan commented on #40
Could you run

    docker run -d -p 8080:8080 -v $PWD/nuster.cfg:/nuster.cfg:ro nuster/nuster /usr/local/sbin/nuster -d -f /nuster.cfg

then you can use `docker logs` to see the log

The expired cache will get deleted no matter the memory is full or not.
But if you set the ttl to 0 which means the cache does not expire, then the cache won't got evicted even if the memory is full. (which is on the

[2019-03-23 19:18] pakit84 commented on #40
Hello @jiangwenyuan ,
I work with Dario and I am replying on his behalf as he cannot do it right now.
We just had again the same problem, and we had to restart again the nuster compose. It happened after 31 hours he was up.

Before to restart the compose I executed the docker logs command and it gave to me the following :

[WARNING] 081/191118 (1) : parsing [/etc/nuster/nuster.cfg:35] : a 'http-re

[2019-03-24 03:50] jiangwenyuan commented on #40
Hi @pakit84
Thanks, that warning happens on startup stage, you can just ignore it.
Could you run following docker command directly instead of compose to get more detailed debug logs?

    docker run -d -p 8080:8080 -v $PWD/nuster.cfg:/nuster.cfg:ro nuster/nuster /usr/local/sbin/nuster -d -f /nuster.cfg

And when it failes again, could you run `curl -vv http://***` to get more detailed response bef

[2019-03-24 13:02] 9527code opened #41 "为了方便调试有没有办法返回一个Header表明已经命中或者没有缓存？"
例如返回一个头
N-Cache: HIT
或
N-Cache: MISS

[2019-03-24 23:51] jiangwenyuan commented on #41
目前没有这个功能，可以很方便添加。

[2019-03-25 08:48] pakit84 commented on #40
Hello @jiangwenyuan ,

I've run the command you provided. Let's see it it happens again ad I will post the logs.
If I run the script against the backend directly it works, it's a test I did the first time it happens.

[2019-03-27 15:02] pakit84 commented on #40
Hello @jiangwenyuan ,
it happened again.
I've deactivated nuster for now, as it keeps happening more or less after 24 hours.
docker logs gave me more ore less 200mb of logs all of the following type:

00000000:srvs_bm-api.srvrep[0009:000a]: HTTP/1.1 200
00000000:srvs_bm-api.srvhdr[0009:000a]: Access-Control-Allow-Origin: *
00000000:srvs_bm-api.srvhdr[0009:000a]: Content-Encoding: gzip
00000000:srv

[2019-03-27 23:55] jiangwenyuan commented on #40
@pakit84 Thanks, that would be helpful.

Do you still have the container, as I would like to know the cache related logs, something like following:

[code]

[2019-03-28 10:41] pakit84 commented on #40
Hello @jiangwenyuan ,

I have 360mb of logs, which is for you the best way I can give the file to you?

Cheers.

[2019-03-28 12:55] jiangwenyuan commented on #40
Hi @pakit84

Could you grep the log of the failed request?

[2019-03-28 13:14] jiangwenyuan commented on #40
Hi @pakit84

Could you grep the log of the failed request?

What is the http server?

I just find out that the status line in your log does not have a reason phrase, which is normally `OK` for 200 status code.

[code]

Could this be the reason why your okhttp client complains about `Unexpected status line` ?

[2019-03-30 12:34] dario30186 commented on #40
Hi @jiangwenyuan ,
here is the complete log:
https://drive.google.com/file/d/1_DGY3Gng9F41HQD751DlBkVleV6ETrck/view?usp=sharing

our http server is a Jersey API. It would be great if we find a solution, Nuster is great and I hope the log is useful for you to find the problem

[2019-03-30 12:36] dario30186 commented on #40
I don't know why the API response is just HTTP/1.1 200 but Nuster works fine for about 24 hours and then we start getting errors

[2019-03-30 12:43] dario30186 commented on #40
Our server is Tomcat 8.5.x
As for the current HTTP/1.1 specification, the reason phrase is optional and Tomcat does not provide it by default in version 8.5.x and it is gone in version 9.x

[2019-03-30 13:26] jiangwenyuan commented on #40
@dario30186 Thanks, do you know the request path of the failed response?

[2019-03-30 13:52] dario30186 commented on #40
You can check /fixtures with query param ‘from’ and ‘to’ and fixtures/live

[2019-03-30 16:03] jiangwenyuan commented on #40
@dario30186 thanks, the log seems fine.

According to the source code of okhttp:
https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/internal/http/StatusLine.java#L53

and the image you posted, seems that either the prior response was not properly handled or the response was malformed, as there is extra data `4***` before the next response.
For example, the content-length is

[2019-03-30 22:27] dario30186 commented on #40
@jiangwenyuan if we remove nuster and use standard haproxy the problem never occurs.
It’s very strange that the problem is only present after ~24 hours. The cache is like full and nuster does not reply as expected.
Our response in zipped for some endpoints, that could be a problem for nuster?

[2019-03-31 02:44] jiangwenyuan commented on #40
@dario30186

I see...

What happens if you change data-size to 20m or 400m? Will this change the time when the error occurs?

Yes, old responses with an expired TTL are purged automatically. If the cache is full, nuster serves cached response if there's a HIT but stops caching anything and just acts as http load balancer for new requests, and will continue to cache when expired cache gets deleted.

[2019-04-02 08:39] dario30186 commented on #40
@jiangwenyuan sorry for the late response. We can only test next weekend. We will let you know

[2019-04-05 15:21] dario30186 commented on #40
Hi @jiangwenyuan,
we check the tomcat log and we noticed that sometimes there is a "broken pipe" error because the API cannot write json correctly. Maybe this could be cause the problem because nuster cache the bad response and response to client with the bad content.

But by default, nuster should only cache 200 OK response, isn't it?
So maybe, the jersey API set http status to 200 OK but then th

[2019-04-06 03:30] jiangwenyuan commented on #40
@dario30186
Yes, only 200 OK response is cached by default.

It might be possible, I'm not sure... I'm still concerned about the `unexpected status line` error, trying to look into the source code.
Please inform me if you have new updates, thanks

[2019-04-06 09:42] dario30186 commented on #40
@jiangwenyuan we have this nuster configuration for server:
`backend srvs_bm-api
        nuster cache on
        nuster rule fixtures ttl 10 if { path_beg /application/v1/fixtures }
        redirect scheme https if !{ ssl_fc }
        server srvs_bm-api_dev_1 172.17.0.1:8080`

but requests of type https://api.domain.com/application/v1/fixtures/?from=2019-03-30&to=2019-04-04

are not cached. If we

[2019-04-08 06:14] dario30186 commented on #40
@jiangwenyuan  UPDATE: the cache works fine. The 2 requests I made had different query parameters, that's why nuster redirected them to API.

We continue investigation about the problem and will let you know ;)

[2019-04-08 14:53] jiangwenyuan commented on #40
Hi, thank you so much for your time:)

[2019-04-11 06:44] dario30186 commented on #40
Hi @jiangwenyuan,
yesterday night a problem occurred with Nuster. Suddenly I didn't cache requests anymore. We didn't get any errors , but simply it redirected all requests to API.
This caused high CPU usage like in attached file.
![cpu](https://user-images.githubusercontent.com/29282727/55935951-2ed14700-5c35-11e9-9936-fb0a9c7c4875.png)

After restarting nuster everything was fine again.
I guess

[2019-04-11 21:58] dario30186 commented on #40
I tried with data-size 200M but after a few hours the problem occurred again.
Nuster does not cache requests.
I run the command :
docker stats

before restarting nuster in order to see how much memory nuster was cosuming and the memory usage was 11.98MiB.
We have 350 requests per minute, maybe is too much for nuster?

[2019-04-13 09:14] dario30186 commented on #40
Hi again @jiangwenyuan ,
maybe the problem is caused by an incorrect length size that occurs randomly.
We don't know yet is it's caused by nuster or our API.
Anyway, nuster does not cache requests anymore after 1 or 2 hours of running.
When I restart nuster docker then we have 200M of memory freed, so I guess that nuster does not purge cache and that's why he does not cache requests after some tim

[2019-04-13 23:46] jiangwenyuan commented on #40
Hi @dario30186

Thanks.

If you set ttl to 10, nuster will purge it.

It does not matter.

Yes

No, it can handle much more

We don't know yet is it's caused by nuster or our API.

I also want to find out, only if I can reproduce it

nuster does not support automatical cache replacement like LRU. But if you set the ttl to 10, there's the possibility that the memory is full before the expired cache

[2019-04-16 17:07] dario30186 commented on #40
Hi @jiangwenyuan,
some important news about investigation.

We can reproduce the bug, it comes from nuster.
Here is our nuster configuration in global section:
nuster cache on data-size 2m uri /nuster

so just 2 megabyte of cache.
We run nuster and begun making requests to our API.
After some requests and 2 minutes the cache is full. If I run command curl http://127.0.0.1/nuster I have this respon

[2019-04-16 22:01] jiangwenyuan commented on #40
Hi @dario30186, thanks so much,this is very helpful for me to reproduce the issue.
I'll look into it

[2019-04-19 22:31] dario30186 commented on #40
hi @jiangwenyuan , did you reproduce this issue? do you already know how to fix it ?
if you need any help for testing, do not hesitate to ask ;)

[2019-04-20 11:21] jiangwenyuan commented on #40
Hi @dario30186 , Not yet, are you able to 100% produce the bug ?

[2019-04-20 11:25] dario30186 commented on #40
Yes, I can reproduce it ;)

[2019-04-20 15:02] jiangwenyuan commented on #40
@dario30186 Does the backend have to be your API server? Any chance to reproduce the bug with some sample code or apache/nginx backend? I've tried many ways but failed to reproduce.

Thanks

[2019-04-20 17:57] dario30186 commented on #40
I think that you just need a backend that returns a large gzip body and header Transfer-Encoding →chunked

[2019-04-22 01:12] jiangwenyuan commented on #40
HI @dario30186

I still couldn't reproduce the issue using your method, but I found an unrelated but potential flaw that might lead to the issue.

Will try to look more into this

[2019-04-22 09:27] maeteem commented on #40
Hi @jiangwenyuan
I use nuster for cache HTTP Live Streaming and got cache full problem too.
global.nuster.cache.stats.used_mem not return to 0 after PURGE all cache.
I think I can reproduce cache does expire issue using Apache HTTP server benchmarking tool.
1. fill cache using:
`curl http://192.168.1.1:8080/258.1245209447.mp4 > /dev/null`
2. run Apache HTTP server benchmarking tool with 2 concurre

[2019-04-22 11:13] jiangwenyuan commented on #40
Hi @dario30186 @maeteem

Could you please test using https://github.com/jiangwenyuan/nuster/tree/issue40 branch?

BTW, when you purge cache, the cache will be marked as invalid only. The memory will be released in further circles. So the `used_mem` might not change after the purge, as the memory does not get free-ed immediately.

[2019-04-22 18:22] dario30186 commented on #40
Hi @jiangwenyuan, I will test the branch tomorrow morning.
I will let you know ;)

[2019-04-23 16:31] dario30186 commented on #40
Hi @jiangwenyuan,
I built the nex branch and it I am not able to reproduce the bug anymore, so I think that you fixed the issue :)
What was the problem ? Just to understand

Let me know if you build a docker release with this new version.
Thank you very much

[2019-04-24 00:07] jiangwenyuan commented on #40
@dario30186 Cool! thanks so much.

The problem was caused by a corrupted buffer pointer. When forwarding the first chunk of response, if there are header and part of the body and if the allocation of memory for the body fails due to insufficient memory, the buffer pointer does not get rewound, so irrelevant  data is sent to the client instead which cause an unmatched length and size of the content

[2019-04-24 14:33] jiangwenyuan commented on #40
@dario30186 Released docker image, could you please test?
Thanks

[2019-04-24 15:46] dario30186 commented on #40
@jiangwenyuan when I try to pull new nuster image nuster/nuster:2.1.1.19  from docker-compose I get en error:
Pulling nuster ... error
ERROR: for nuster  b'manifest for nuster/nuster:2.1.1.19 not found'
ERROR: manifest for nuster/nuster:2.1.1.19 not found

the same occurs if I put nuster/nuster:2.1.1.19-alpine

[2019-04-24 16:03] dario30186 commented on #40
UPDATE
I used tag "latest" because I saw that you pushed it an hour ago and nuster works well ;)
Can you push docker images with the version tag in hub.docker.com pls ?

[2019-04-25 00:34] jiangwenyuan commented on #40
@dario30186 Of course, will do. Please let me know if anything goes wrong:)

[2019-04-25 10:05] maeteem commented on #40
Hi @jiangwenyuan
I try to solve cache does expire issue and found that HTTP/1.0 client make cache data->clients not decrement after connection close. this make cache data still valid and not free.
I not sure that if we add `appctx->ctx.nuster.cache_engine.data->clients--;` in nst_cache_engine_handler() engine.c line 45 before then return shuoud fix.
Could you please have a look into this.
Thanks,

[2019-04-26 01:54] jiangwenyuan commented on #40
Hi @maeteem

It happens when HTTP/1.0 or HTTP/1.1 with `connection: close` header, fixed.
Could you please test with the new version?

Thank you so much

[2019-04-26 14:04] maeteem commented on #40
I will test and let you known on Monday.
Thanks

[2019-04-29 02:46] maeteem commented on #40
Update: I run v2.0.10.18 and it works well ;)
Thanks

[2019-04-29 16:04] dario30186 commented on #40
Hi @jiangwenyuan ,
you pushed docker image 2.1.2.19.
Does this image contains your fix ?

[2019-04-29 21:46] jiangwenyuan commented on #40
Hi @dario30186 yes, thank you so much

[2019-04-29 21:46] #40 closed

[2019-05-02 15:42] Dexus77 opened #42 "bug - caches only html"
Six months later, I decided to look at Nuster again and, like the first time, I just spent my time and became disillusioned.  The potentially interesting project never got a normal installer and did not get rid of children's bugs.
 Apparently faster implement caching in HAProxy.

 During testing, the following bug was found; the latest version v2.1.2.19 does not cache anything but html.  For examp

[2019-05-03 00:29] packeteer commented on #42
with an attitude like that, you won't be missed!

On Fri, 3 May 2019 at 01:42, Dexus77 <notifications@github.com> wrote:

[2019-05-03 05:47] Dexus77 commented on #42
If you are not able to create an elementary work product, do not do anything better.

[2019-05-03 10:04] jiangwenyuan commented on #42
Hi @Dexus77

Thanks for the report and sorry for the inconvenience. This is indeed a bug introduced in H19 branch.

BTW, v2.1.2.19 is development release and is unstable, you should use the stable release [v2.0.10.18](https://github.com/jiangwenyuan/nuster/releases/download/v2.0.10.18/nuster-2.0.10.18.tar.gz).

[2019-05-17 15:56] solonik1 opened #43 "Segmentation fault on rule"
**What happened**:
[CACHE] [RES] Checking if rule pass: [ALERT] 136/154924 (1) : Current worker #1 (6) exited with code 139 (Segmentation fault)

**How to reproduce it (as minimally and precisely as possible)**:
nuster rule test ttl 60 if { urlp(filter[test]) -m found }

**Description**:
If i try to cache with this rule "urlp(filter[test]) -m found" nuster got segmentation fault.

Rules with { pat

[2019-05-18 03:55] jiangwenyuan commented on #43
@solonik1 Are you using v2.1.2.19? I confirmed that this bug on v2.1.2.19. It works well on stable release  v2.0.10.18. Can you test on  v2.0.10.18?

v2.1.2.19 is a development release and has not been fully tested.

[2019-05-18 13:42] solonik1 commented on #43
Im on 2.1.2.19.
You're right. It works with the version v2.0.10.18.
This issue can be closed.

Thanks for your answer.

[2019-06-21 14:38] Dexus77 commented on #42
Hello!  Please forgive me, flared because time was spent on developing for Nuster and had to cancel and rewrite everything.

[2019-06-22 01:51] jiangwenyuan commented on #42
Not at all, my bad. I should have tagged something more clear like `-dev`, sorry for wasting your time.
BTW, I've figured out this is due to some change in haproxy v1.9, and has been fixed in haproxy v2.0.
And I also work around this in current disk persistence branch, hope you could still be willing to help:)

[2019-06-26 06:32] lystormenvoy opened #44 "是否可以用于缓存视频切片"
按照http cache的配置文件配置了
希望用来缓存hls点播，似乎不成功
后端是使用一个nginx做web服务器，播放hls点播文件。使用nuster做代理及缓存，似乎并没有缓存，而是直接回源了。

[2019-06-26 12:57] jiangwenyuan commented on #44
@lystormenvoy 请问用的是哪个版本？2.1.2.19版本是测试版，有bug。稳定版是2.0.10.18。

没试过hls点播，切片，如果有可复现的环境(比如dockerfile之类)，很乐意调试。

[2019-07-02 03:05] lystormenvoy commented on #44
`00000008:fe.clireq[0004:0005]: GET /hls/ts/out052.ts HTTP/1.1
00000008:fe.clihdr[0004:0005]: Host: 192.168.8.74:8080
00000008:fe.clihdr[0004:0005]: Connection: keep-alive
00000008:fe.clihdr[0004:0005]: Origin: http://192.168.13.251:6080
00000008:fe.clihdr[0004:0005]: User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36
000

[2019-07-02 03:22] jiangwenyuan commented on #44
@lystormenvoy 什么版本？2.1.2.19有这个bug

[2019-07-02 03:23] lystormenvoy commented on #44
2.0.10.18

很迷啊，有时可以hit，有时不可以，大部分不可以

[2019-07-02 03:30] jiangwenyuan commented on #44
分配的内存是多少？这个文件超过了吗

[2019-07-02 03:42] lystormenvoy commented on #44
200m，文件是240MB，这样起码大部分的切片都能缓存吧，况且我视频只看到前一半。

另外问一下，此工具的缓存只使用内存吗？不用硬盘？

[2019-07-02 04:35] jiangwenyuan commented on #44
文件超过了分配的内存就不会缓存。
目前的版本只用内存，支持硬盘的目前正在测试，应该过段时间可以发布。

[2019-07-02 06:05] lystormenvoy commented on #44
如果只支持内存就不适合缓存视频了。
一般是内存存高热度的内容，硬盘存相对低热度的吧。trafficserver好像就是这样

[2019-07-02 07:01] jiangwenyuan commented on #44
是的，最初就是想短暂缓存动态请求。

[2019-07-10 10:55] lystormenvoy commented on #44
大概什么时候会有呢

[2019-07-11 00:45] jiangwenyuan commented on #44
还有几个问题尚未修复，争取下周先push上来

[2019-07-22 19:17] dampersand commented on #16
Commenting to both express interest in this enhancement and thank @jiangwenyuan for the incredible work on this project as it stands!

[2019-07-23 00:52] jiangwenyuan commented on #16
Hi, thanks for the feedback, I've almost finished disk persistence, with several issues to fix, hopefully, I could push to master this week.

[2019-07-29 13:51] jiangwenyuan commented on #42
Fixed

[2019-07-29 13:51] #42 closed

[2019-07-29 13:52] jiangwenyuan commented on #43
@solonik1 Fixed

[2019-07-29 13:52] #43 closed

[2019-07-29 13:53] jiangwenyuan commented on #44
添加硬盘持久化功能

[2019-07-29 13:53] #44 closed

[2019-07-30 00:45] jiangwenyuan commented on #16
Released

[2019-07-30 00:45] #16 closed

[2019-07-31 06:10] Ara4Sh commented on #16
@jiangwenyuan You did an amazing job, Im going to test it :+1:

[2019-08-28 06:41] packeteer opened #45 "Segfaulting in v3.0.0.19"
**What happened**:
segfault

**Environment**:
Amazon Linux
kernel 4.14.138-114.102.amzn2.x86_64

**Error**:
[code]

**Config file**:
[code]

**Build info**:

[code]

[2019-08-28 09:46] jiangwenyuan commented on #45
@packeteer Hi, thanks for the reporting, any way to reproduce the bug? Or could you active coredumps?

[2019-09-02 01:56] jiangwenyuan commented on #45
@packeteer still couldn't reproduce it, could you please provide more information? thanks

[2019-09-02 01:58] packeteer commented on #45
sorry, I've not had a chance to test again as we rolled back to previous version.
any suggestions for testing?

[2019-09-02 02:07] jiangwenyuan commented on #45
Having coredumps enabled would be a great help.

[2019-09-02 05:31] packeteer commented on #45
ok, this is what I've got:
[code]

[2019-09-02 08:25] packeteer commented on #45
interesting aside... I can get v2.0.10.18 to reliably segfault by setting tune.bufsize=256000

[2019-09-02 14:11] jiangwenyuan commented on #45
I can confirm that `tune.bufsize=256000` causes v2.0.10.18 to segfault but not v3.0.0.19.

Does v3.0.0.19 segfaults if `tune.bufsize` is the default 16k?

[2019-09-03 13:14] jiangwenyuan commented on #45
@packeteer

Fixed in `H1.8.x` branch, could you please test it?

Also, I've pushed into master, could you please also check if this fixes the segfault happens in v3.0.0.19?

Thanks

[2019-09-04 06:42] packeteer commented on #45
initial testing seems ok. I'll test for a few hours and see what we get.

[2019-09-06 02:18] packeteer commented on #45
the patch seems to have fixed the issue in master branch

[2019-09-06 02:18] #45 closed

[2019-09-09 13:33] valentijnvenus opened #46 "Memcached-backed cache location?"
**This is a FEATURE request**:

Instead of using Nuster's cache (in-memory or disk persistent solutions), would you have any pointers if Memcached is to be used?

e.g.:
```nuster cache on data-size 10m memcached address:11211```

We might be able to contribute.

[2019-09-09 14:11] jiangwenyuan commented on #46
Hi, there's no plan to add support for memcached backed persistence, but the contribution is welcomed:)

[2019-09-09 23:51] AndreiG6 commented on #46
If anything redis would be better considering it can store in both ram and disk

[2019-09-10 07:48] valentijnvenus commented on #46
Is redis compatible with the memcached-protocol? If so, one could use any stack as long as it is compliant, e.g. couchbase.

@jiangwenyuan any pointers to the c-code you'd suggest studying in more detail?

[2019-09-10 08:55] packeteer opened #47 "POSTs being cached incorrectly ?"
We were only caching POSTs between the API server and the back end, but I am experimenting with adding Nuster caching for non POST traffic in front of the API (see config below)

**What happened**:
Nuster is caching POSTs when that is not enabled (backend api). Additionally, the response from the server is a different size (cache on vs off).

**What you expected to happen**:
Not to cache POSTs

**

[2019-09-10 12:23] jiangwenyuan commented on #46
@valentijnvenus Just out of curiosity, why do you need memcached-backed persistence?

Here's some code you might need to look into

https://github.com/jiangwenyuan/nuster/blob/master/include/nuster/nuster.h#L57 for parse nuster in global section

https://github.com/jiangwenyuan/nuster/blob/master/src/nuster/parser.c#L880 for parse nuster rule

https://github.com/jiangwenyuan/nuster/blob/master/src

[2019-09-10 12:56] jiangwenyuan commented on #47
@packeteer Hi, if I understand you correctly, this is the expected behavior. POST will be cached unless you explicitly disable it.

[code]
This will cache POST and will work correctly most of the time as you add `option http-buffer-request` and include `body` in key.

But it will fail if the size of the request body is greater than `tune.bufsize - tune.maxrewrite - request_header_size`, which by d

[2019-09-10 13:05] packeteer commented on #47
thanks for that, I've misunderstood the documentation

[2019-09-10 13:05] #47 closed

[2019-09-12 12:38] secretlifeof opened #48 "GraphQL cache"
**Explanation**:
We are trying to figure out if nuster can cache GraphQL request/response, since it is a POST-request.

What we get:
**CLIENT => NUSTER => GRAPHQL-API => NUSTER => CLIENT**

What we wish:
**CLIENT => NUSTER => CLIENT**

[code]

Did anybody manage to solve graphQL cache with Nuster?

**Environment**:
- OS (Kubernetes, Docker)
- Nuster version 3

[2019-09-14 16:08] secretlifeof commented on #48
Thank you for your answers!

How can I use the masterbranch when using docker? Can you please write me how I need to change this file?
https://hub.docker.com/r/nuster/nuster/dockerfile

I tried changing this ARG but it does not work.
`ARG NUSTER_DL_URL="https://github.com/jiangwenyuan/nuster/tarball/master"`
but it returns this error
`COPY failed: stat /var/lib/docker/tmp/docker-builder013173097/d

[2019-09-15 11:29] jiangwenyuan commented on #48
Can you try this?
https://github.com/jiangwenyuan/nuster/archive/master.zip

[2019-09-16 06:39] zoltanbalog79 opened #49 "Disk persistence modes do not release file handles"
Hi,

I would report a major bug of the "disk only" and "disk sync" modes. Potentially the "disk async" mode also suffers from it but that mode was unstable for me so I would not report that.

The issue is that the proxy does not release the opened file handles and this way after a time it eats up all the resources of the host and stops working. The proxy not just loses a file handle when the cache

[2019-09-16 07:43] zoltanbalog79 commented on #49
I forgot to include the haproxy build details:
[root@host ~]# haproxy -vv
nuster version 3.0.0.19
Copyright (C) 2017-present, Jiang Wenyuan, <koubunen AT gmail DOT com >

HA-Proxy version 1.9.9 2019/07/23 - https://haproxy.org/
Build options :
  TARGET  = linux2628
  CPU     = generic
  CC      = gcc
  CFLAGS  = -O2 -g -fno-strict-aliasing -Wdeclaration-after-statement -fwrapv -Wno-unused-label -W

[2019-09-16 10:07] secretlifeof commented on #48
Sorry that did not work.

This is the console printout (the last part):
[code]

[2019-09-16 13:08] jiangwenyuan commented on #48
Hi, since it's zip file you need to change tar to unzip and modify corresponding directory.
Or just use git, change the following two lines
https://github.com/jiangwenyuan/docker-nuster/blob/master/H1.9/centos7/Dockerfile#L34
https://github.com/jiangwenyuan/docker-nuster/blob/fc009f70eb5c072434296e2d154195cab9064945/H1.9/centos7/Dockerfile#L35
to something like git clone ..... /tmp/nuster

[2019-09-17 07:29] zoltanbalog79 commented on #49
Hi,

I tried to debug the issue and found that somehow in the 'nst_cache_disk_engine_handler' the state machine never goes to state NST_PERSIST_APPLET_DONE. This way the engine.c lines #149 - 151 are never executed which are for closing the file handle. At the moment I don't understand exactly how the disk applet should work but hope that it helps you to figure out the real root cause and fix the

[2019-09-17 10:31] zoltanbalog79 commented on #49
I have a draft pull request to highlight where are the file handle problems in the code. I don't want to merge it as is to master because the updated code is really just a quick and dirty solution. I just hope that it really helps your work to investigate the issues and fix them permanently.

I continue the investigation of the project because the disk persistent mode is very promising!

[2019-09-17 22:41] jiangwenyuan commented on #49
Hi, thank you so much.

It helps a lot.

[2019-09-19 10:13] secretlifeof commented on #48
Thank you @packeteer and @jiangwenyuan !

I did now get it working. Also it did not work correctly before adding "if METH_POST".

Changed this two lines:
[code]
with this:
` && git clone https://github.com/jiangwenyuan/nuster /tmp/nuster \`

[2019-09-26 10:16] jiangwenyuan commented on #49
@zoltanbalog79 could you please check https://github.com/jiangwenyuan/nuster/tree/fixes/49 ?
thanks

[2019-09-27 13:12] #48 closed

[2019-09-30 14:10] zoltanbalog79 commented on #49
@jiangwenyuan Thanks the fix, it is working fine.

[2019-09-30 14:41] zoltanbalog79 opened #51 ""disk only" mode cache hits are not counted in statistics"
BUG: In the statistics the 'req_hit' does not count the cache hits in "disk only" mode. The value is always 0.

A typical output of the statistics page after many thousands of successful cached requests:

curl localhost/_nuster_stats
**GLOBAL**
global.nuster.cache.data.size: 1073741824
global.nuster.cache.dict.size: 1073741824
global.nuster.cache.uri: /_nuster_stats
global.nuster.cache.purge_metho

[2019-09-30 14:47] jiangwenyuan commented on #51
@zoltanbalog79 Thanks.

Currently, disk support in stats and purge is not yet finished. (almost finished purge, testing...)

[2019-10-02 10:48] jiangwenyuan commented on #49
Thanks, pushed to master.

BTW, any issues encountered in "disk async" mode?

[2019-10-02 10:48] #49 closed

[2019-10-03 13:02] jiangwenyuan commented on #51
@zoltanbalog79 fixed in master, thanks

[2019-10-03 13:03] jiangwenyuan commented on #41
添加了 `nuster.cache.hit` 变量， 可以像如下使用

    http-response set-header xcache hit if { nuster.cache.hit }

[2019-10-03 13:03] #41 closed

[2019-11-01 10:00] CantonBolo opened #52 "使用缓存时，能否过滤缓存文件的set-cookies响应头？"
**Is this a BUG report or FEATURE request?**:
如果缓存文件带有set-cookies，其他用户命中缓存文件后有可能产生会话混乱。

[2019-11-01 13:39] jiangwenyuan commented on #52
是要把响应里的set-cookies删了吗？

[code]

[2019-11-04 06:34] CantonBolo commented on #52
在backend里加上了
'''ini
acl static_content path_end -i .jpg .png .gif .css .js .txt .jpeg .gif .txt .pdf .zip .7z .gz .tar .rar .ico .doc .docx .xls .xlsx .ppt .pptx .exe .pdf .mp4 .mp3 .wav
http-response del-header set-cookies if static_content
[code]

[2019-11-04 09:21] jiangwenyuan commented on #52
path的话只有request阶段才有效，如果需要在response阶段使用的话，需要将path存起来

[code]

[2019-11-05 02:42] CantonBolo commented on #52
搞定了，谢谢

[2019-11-05 02:42] #52 closed

[2019-11-12 06:56] luoens opened #53 "希望安装配置简单化"
对于非专业人士，希望推出更简单的安装配置方法

[2019-11-12 09:01] jiangwenyuan commented on #53
指apt yum之类的吗？可以用docker image https://hub.docker.com/r/nuster/nuster

[2019-11-15 10:40] asterissco opened #54 ""Segmentation fault" on send "-XPURGE""
Hello,

The program works fine but if i send purge rule with curl

`root@nuster:~# curl -XPURGE http://127.0.0.1/cache_directorio/images.jpeg`

Result this

[code]

With this config file

[code]

[2019-11-15 12:27] jiangwenyuan commented on #54
@asterissco Thank you so much, fixed in master.

[2019-11-19 03:32] packeteer opened #55 "Nuster 2.0.12.18 not caching after it has been running for a while"
**BUG report ?**

Nuster v2.0.12.18 not caching after it has been running for a while

see below for more info

[2019-11-19 05:02] jiangwenyuan commented on #55
Hi, are you using TCP mode?

[2019-11-19 05:19] packeteer commented on #55
I'm using http mode globally

  log     global
  mode    http
  option  httplog

I'll test http mode in backend

[2019-11-19 05:24] jiangwenyuan commented on #55
Thanks, and could you please enable debug and paste the debug log ? I couldn't reproduce it.

[2019-11-19 05:44] packeteer commented on #55
I just tested again, and I couldn't replicate either!

[2019-11-19 05:53] packeteer commented on #55
and just to confuse the issue, I tested again and it's happening again ?!?

[2019-11-19 05:59] packeteer commented on #55
**log entries**
[code]

**config file**
[code]

[2019-11-19 06:29] packeteer commented on #55
hmm, it works after restarting Nuster

[2019-11-19 06:43] jiangwenyuan commented on #55
Cache is full?

[2019-11-19 06:49] packeteer commented on #55
lol, I hope that's what it is!
I'll monitor it

[2019-11-20 07:34] packeteer commented on #55
hmm, I dont think it's a full cache. no cache hit recorded and this is the stats output
[code]

[2019-11-20 08:58] jiangwenyuan commented on #55
@packeteer I see. So this still happens? and no matter the key is specified or not?

[2019-11-20 09:12] packeteer commented on #55
yeah, it's not key related. seems to be something to do with running time or amount of traffic
I'll try to test in debug mode tomorrow

[2019-11-20 09:26] jiangwenyuan commented on #55
thanks. I've been running with your config and still cannot reproduce it.

[2019-11-21 13:23] #53 closed

[2019-11-21 13:23] #54 closed

[2019-11-22 08:00] git001 opened #56 "FEATURE update to HAProxy 2.0 or 2.1"
**Is this a BUG report or FEATURE request?**: FEATURE

Do you plan to update to HAProxy 2.0 or 2.1?

[2019-11-22 08:42] jiangwenyuan commented on #56
Yes, working on migrating to 2.0 now

[2019-11-22 16:16] git001 commented on #56
cool do you need help or support?

[2019-11-22 22:46] jiangwenyuan commented on #56
Yes, that would be great help:)

[2019-11-22 23:17] git001 commented on #56
how can I help?

Maybe we should directly switch to 2.1 because it have also fcgi mux and therefore it makes it possible to use nuster in front of php-fpm and other fcgi servers.

It looks like that 2.1 will be released soon https://www.mail-archive.com/haproxy@formilux.org/msg35469.html

What do you think about this suggestion?
You use `nbproc 12` in the benchmarks https://github.com/jiangwenyuan

[2019-11-22 23:43] jiangwenyuan commented on #56
I think we should migrate to 2.0 first because it's LTS version while 2.1 is a development release and it's easier to migrate as it seems 2.1 has completely moved to HTX which causes much more work to migrate.

I don't know that, nbthread should also work

Here's some todo list after migration to 2.0

* Vary support
* Range support
* Last-Modified/If-Modified-Since/If-Unmodified-Since/ETag/If-None

[2019-11-23 09:55] git001 commented on #56
Perfect. Where can I help you.

[2019-11-23 11:03] jiangwenyuan commented on #56
The migration itself wouldn't be necessary as I've already been working on it. How about the todo list?
Or maybe the node replication:)

[2019-11-24 09:32] git001 commented on #56
Well due to fact that I'm not a good programmer I would like to offer you some help for test and documentation.
When ever you think that there is a version which is usable with 2.0 I would like to test it.

[2019-11-24 12:45] jiangwenyuan commented on #56
Of course, thank you so much for the help for test and documentation, that would be great help. I always wanted to enrich the documentation, add more context, manuals, etc.

[2019-11-26 21:14] git001 commented on #56
Okay do you want to keep this issue open until the update to 2.0 is done or do you prefer to close it?
I'm fine either way.

[2019-11-27 01:45] jiangwenyuan commented on #56
Let me close it, any PR is welcome:)

[2019-11-27 01:45] #56 closed

[2019-12-02 05:32] packeteer commented on #55
ok, so I've finally got the debug output. I dont see anything useful :/

[code]

[2019-12-03 10:59] jiangwenyuan commented on #55
@packeteer hmm, still have no clue.. Does this happen in v3.1.3.19?

Do you know the rough response size of `/linked-covers/plan/113,112,2763,2765,8,171,2774,236,235,2772,145,338,2592,322,323,2593,290,289,162,161,233`?

I'd like to push a debug branch with more detailed log message, is it possible for you to run this debug version?

[2019-12-03 11:06] packeteer commented on #55
I'm running this in a non-prod environment, so no problem to test different configs

response size is 256.09 KB

[2019-12-04 05:55] packeteer commented on #55
**v3.1.3.19**
`[ 4452.613230] haproxy[3400]: segfault at 303930383a74 ip 00007f6cf32153ea sp 00007ffd6623a5e8 error 4 in libc-2.26.so[7f6cf30ce000+1a1000]`

I'm using exactly the same config, except that **master-worker** is uncommented

[2019-12-04 07:15] packeteer commented on #55
I was not able to replicate the previous segfault, so deleted it. I think it was my fault.

Now running v3.1.3.19 and I am seeing occasional strange behaviour.
1. run on the instance via httpie and sometimes not caching
2. run the query using Postman and sometimes get long response times

[2019-12-04 09:30] jiangwenyuan commented on #55
How do you run the test?
Is `/linked-covers/plan/113,112,2763,2765,8,171,2774,236,235,2772,145,338,2592,322,323,2593,290,289,162,161,233` the only request? If not, how many requests involved?

Do you send the request one by one, or in parallel?  Any information is helpful:) thanks

[2019-12-04 10:30] packeteer commented on #55
start Nuster, run a lot of traffic through it, then try the GETs
all requests are serial

it might be better if we take this to another medium, and I can give you more access etc

[2019-12-04 10:37] jiangwenyuan commented on #55
Sure, can you send me an email?

[2019-12-04 11:08] packeteer commented on #55
sent

[2019-12-09 05:30] packeteer commented on #55
unable to replicate, closing
many thanks!

[2019-12-09 05:30] #55 closed

[2019-12-09 11:57] jiangwenyuan commented on #15
Finally added.
7e9038a0c11604b3f6b731702cd6e821d41d4a17

[2019-12-09 11:57] #15 closed

[2019-12-09 14:05] zabio3 commented on #15
Thank you for adding the feature :+1:

[2019-12-23 14:21] enesgur opened #58 "Routing multiple domains using HTTPS loadbalancer"
I want to use nuster instead of nginx server. I have a question for to do this.

How can i loadbalancing multiple https domain?
Example:
https://abc.com => 10.0.0.30
https://xyz.com => 10.0.0.35
https://foo.com => 10.0.0.40

[2019-12-23 23:16] packeteer commented on #58
Nuster is based on Haproxy, so their docs should cover this ie. https://www.haproxy.com/blog/haproxy-ssl-termination/

[2019-12-23 23:40] packeteer commented on #46
It would be good to have the ability to use Nuster in a cluster setup.
In my use case, I split the traffic 3 ways (for redundancy and load balancing) before it even hits Nuster, which dilutes the effectiveness of any caching

[2019-12-24 00:47] jiangwenyuan commented on #58
Thanks @packeteer.

@enesgur Here's some example:

Put certs of abc/xyz/foo into /etc/ssl

[code]

[2019-12-24 06:23] valentijnvenus commented on #46
Indeed.

On Tue, 24 Dec 2019, 00:40 packeteer, <notifications@github.com> wrote:

[2019-12-24 19:50] enesgur commented on #58
Thank you all.

[2019-12-24 19:50] #58 closed

[2019-12-27 11:24] praveenkumar2608 opened #59 "nuster is not caching anyting, also it doesnt write in the disk"
I am trying to cache, all the contents under / or /events. nuster is not caching any of the contents or write the same in in the disk.

**Nuster CFG**

[code]

**Nuster Cache output**

**GLOBAL**
global.nuster.cache.data.size: 1073741824
global.nuster.cache.dict.size: 1048576
global.nuster.cache.uri: /nuster/cache
global.nuster.cache.purge_method: PURGE
global.nuster.cache.stats.used_mem: 0
global

[2019-12-27 12:13] jiangwenyuan commented on #59
@praveenkumar2608

[code]
rule is commented out?

[2019-12-27 12:57] praveenkumar2608 commented on #59
Found the issue, path_peg URL goes like /backstage/view/profile/portal/6578921/siteresources/. The cahe get stored only if I give the entire URI. My requirement is to cache anything after /backstage/ because the URI after /Backstage/ changes based on user.

[2019-12-28 04:23] packeteer commented on #59
why would it matter if /backstage/ gets included?

maybe tweak the cache key to be something like **method.uri** to match your use case better?

[2019-12-30 07:45] praveenkumar2608 commented on #59
I have tweaked it using method URI, now everything working as expected. **Is there any reason why GIF files not getting cached?** All jpeg and other files are getting cached properly

[2019-12-30 09:53] packeteer commented on #59
can you show us an excerpt of the relevant config and log entires

[2020-01-13 08:19] everyx opened #60 "support multiple config files"
**Is this a BUG report or FEATURE request?**:
FEATUER request

**What happened**:
multiple config files support

**What you expected to happen**:
Like nginx, we can put a site's config to a file, and put all config files to site-enable folder to enable it.

[2020-01-13 09:26] llarsson opened #61 "Failing to cache HTTP/2 (and not showing cache stats)"
**Is this a BUG report or FEATURE request?**:
BUG.

**What happened**:

Nuster does not seem to enable its caching for my HTTP/2 service, nor does it seem to expose its Cache management interface.

Trying to just read the cache endpoint:

[code]

Nuster says:

[code]

Also, even though my configuration says so, Nuster does not add any header, so I cannot think that it is caching.

**What you expec

[2020-01-13 09:39] packeteer commented on #60
do you mean built like a debian package?

[2020-01-13 09:56] packeteer commented on #61
I see 2 problems:
1. you need "option http-buffer-request" to cache POSTs
2. you have different locations declared for the stats uri

also, you might want to experiment with the htx option, the haproxy docs indicate it's still incomplete

[2020-01-13 10:12] llarsson commented on #61
1. Tried adding it to the backend specification, and it did not make it work.
 2. Yes, this was intentional, as I assumed that Nuster's cache management functionality did not work over (cleartext) HTTP/2. Neither endpoint works.

The `option http-use-htx` option is needed for HTTP/2 functionality, at least, [for this particular use-case](https://www.haproxy.com/blog/haproxy-1-9-2-adds-grpc-support

[2020-01-13 10:53] everyx commented on #60
I just want we can use multiple config files to split my config.

I found haproxy can use -f multiple times, and can be a directory, so nuster has supported this?

[2020-01-13 10:58] packeteer commented on #60
yes, Nuster is based on Haproxy

[2020-01-13 11:08] everyx commented on #60
great, just close.

[2020-01-13 11:08] #60 closed

[2020-01-13 11:08] packeteer commented on #61
it works for me in default options

works for me when I have both uris the same, although I am not using http2

[2020-01-13 11:52] llarsson commented on #61
@packeteer, could you please post your working configuration?

[2020-01-13 12:00] jiangwenyuan commented on #61
nuster does not support htx yet, so backend http2 does not work. Will work in next version(upgraded to  haproxy v2.0).

Cache management interface indeed does not work in h2.

[2020-01-13 12:01] llarsson commented on #61
Aha. Thank you, @jiangwenyuan.

How close are we to the next version, do you think?

[2020-01-13 12:10] jiangwenyuan commented on #61
@llarsson Very slow development due to limited spare time these days, but I could make some time late this month and expect to release it next month

[2020-01-13 14:40] jiangwenyuan commented on #61
@llarsson I failed to read `option http-use-htx` in your config file, that's the reason cache management API didn't work.
Again v3.2.0.19 only supports H2 between client and proxy, not proxy and backend(need htx).

[2020-01-20 05:10] netrixken commented on #51
this bug still exists in 3.2.0.19. /tmp/cache is empty so cache hits always 0

[code]

GLOBAL

[code]

BACKEND

[code]

[2020-01-20 05:48] jiangwenyuan commented on #51
Confirmed break on `disk only` mode, but works on `disk sync` mode

[2020-01-20 10:28] jiangwenyuan commented on #51
@netrixken fixed in v3.2.1.19

[2020-01-20 11:59] netrixken commented on #51
Thank you for your fast fixed! But, may I know where the cache is stored (disk only)? Because my /tmp/cache is empty (not empty when disk async/sync is used) and req_hit still always 0..

[2020-01-20 12:10] netrixken commented on #51
it worked now. i delete these leftover configuration. thank you very much!

[code]

[2020-01-20 12:21] netrixken commented on #51
It worked now. I delete these leftover haproxy configuration from nuster config. Thank you very much!

[code]

Now, only `used_mem` is still always 0. Or disk cache not counted as `used_mem`?

[2020-01-20 12:54] jiangwenyuan commented on #51
@netrixken

`disk only` mode does not use memory, except temporary memory.

If you have this setting, the cache file is stored into `/var/lib/haproxy/tmp/cache` (chroot-dir + cache-dir)

[2020-01-20 13:03] netrixken commented on #51
If for example i have 100 MB RAM, how much the biggest data-size I can set? Thanks @jiangwenyuan

[2020-01-20 13:09] jiangwenyuan commented on #51
@netrixken Well, it's hard to say.  Higher values allow more cache and lower values allow more sessions to coexist in the same time. I'd suggest you start with half of the RAM and test.

[2020-01-20 13:32] jiangwenyuan commented on #51
@netrixken I'm closing it now, feel free to reopen the issue if anything wrong

[2020-01-20 13:32] #51 closed

[2020-02-03 09:05] aleksystasiak opened #62 "Nuster hangs every few hours"
**Is this a BUG report or FEATURE request?**:
BUG I think
**What happened**:
After a few hours of working properly, nuster hangs, Process is still being listed but stops listening for requests, restart will not work at this point, kill is needed.
**What you expected to happen**:
I expect nuster to keep working or at least leave some information about it's state in logs
**How to reproduce it (as mi

[2020-02-03 09:33] jiangwenyuan commented on #62
@aleksystasiak which version?

[2020-02-03 09:34] aleksystasiak commented on #62
nuster version 3.2.1.19
Copyright (C) 2017-present, Jiang Wenyuan, <koubunen AT gmail DOT com >

HA-Proxy version 1.9.13 2019/11/25 - https://haproxy.org/

[2020-02-03 09:50] aleksystasiak commented on #62
[
![Zrzut ekranu z 2020-02-03 10-48-04](https://user-images.githubusercontent.com/23705608/73642886-d27f5e00-4672-11ea-85f5-0705249c147f.png)
](url)
This illustrates hang frequency and ram usage.

[2020-02-03 09:52] aleksystasiak commented on #62
`global
    maxconn 1000
#    debug
    nuster cache on data-size 8704m dict-size 1048576 uri /_nuster
    master-worker # since v3
    tune.maxrewrite 32768
    tune.bufsize 65536
#    dict-size 10485760
defaults
        mode http
        timeout connect     3s
        timeout client      3s
        timeout server     5s
        option forwardfor except 127.0.0.1
        option  httplog
        o

[2020-02-05 14:13] jiangwenyuan commented on #62
@aleksystasiak fixed in master, int32 overflow due to big data-size(4gb). Could you please build master and recheck?
Thanks

[2020-02-06 08:05] aleksystasiak commented on #62
Thank You for the fix. I will gladly test when I have opportunity ( unfortunately there were sporadic incidents with uncontrolled session switching when cache was enabled and now I have to deal with GDPR mess, but I'm negotiating reenabling the cache - not nuster fault In this case)

[2020-02-14 08:16] KelvinHuang1102 opened #63 "Purge cache problem (404 Error)"
**Is this a BUG report or FEATURE request?**:
Not sure.
**What happened**:
I'd like to purge cache but always get 404 Error
Here is my config
frontend cl
    bind *:8088
    mode http
    default_backend pf
backend pf
    mode http
    nuster cache on
    nuster rule all key method.scheme.host.uri.cookie_testcookie1
    server s1 139.x.x.218:80

I send HTTP request with cookie:
curl -v -X GET --co

[2020-02-14 11:13] jiangwenyuan commented on #63
@KelvinHuang1102 You need set `uri` in global like this:

[code]

then purge to this uri like this:

https://github.com/jiangwenyuan/nuster#cache-purging

If you `curl -X PURGE -b "testcookie1=1234" http://frontend_domain:8088/test/test.aspx`

default key is used. https://github.com/jiangwenyuan/nuster#purge-one-specific-url

[2020-02-14 14:15] KelvinHuang1102 commented on #63
If I send two different cookie in HTTP requests and I got  req_fetch: 2
1. curl -v -X GET --cookie "testcookie1=1234" http://frontend_domain:8088/test/test.aspx
2. curl -v -X GET --cookie "testcookie1=4321" http://frontend_domain:8088/test/test.aspx

Could I just purge specific one?

[2020-02-14 14:27] jiangwenyuan commented on #63
Ah, not possible as of now

[2020-02-14 14:56] jiangwenyuan commented on #29
Added: https://github.com/jiangwenyuan/nuster#extend-extend

[2020-02-14 14:56] #29 closed

[2020-02-14 14:58] jiangwenyuan commented on #59
Close. Feel free to reopen if the problem persists.

[2020-02-14 14:58] #59 closed

[2020-02-14 14:59] jiangwenyuan commented on #61
Released HTX version.
https://github.com/jiangwenyuan/nuster/releases/tag/v5.0.0.21

[2020-02-14 14:59] #61 closed

[2020-02-14 15:12] KelvinHuang1102 commented on #63
OK. I got it.
If the function could be enhanced.
It's will very helpful to me.  :)
Thanks for your quick reply.

[2020-02-23 08:57] #62 closed

[2020-02-23 08:57] #63 closed

[2020-03-29 13:18] jiangwenyuan commented on #63
@KelvinHuang1102 It works now

[2020-04-01 02:42] KelvinHuang1102 commented on #63
@jiangwenyuan
Thanks for your great support! It works!

[2020-04-08 14:00] Dragon988 opened #64 "Slow upload"
Hello!

I have an issue with slow upload. It's hitting a max of 1.5MB/s and I've verified with nginx reverse proxy it can hit over 20MB/s. I have tried disk and ram cache, no change.

Download speed is over 50MB/s.

I have also tried both the last official release and the master.

If you can give me some pointers much appreciated.

[code]

[2020-04-08 14:04] jiangwenyuan commented on #64
@Dragon988 So you are using it as a load balancer?

[2020-04-08 14:06] Dragon988 commented on #64
Yes, that's correct. Load balancer with cache, which I disabled to troubleshoot.

[2020-04-08 14:10] jiangwenyuan commented on #64
Have you tried set maxconn, etc?

[2020-04-08 14:13] Dragon988 commented on #64
No, but if it can hit 50MB/s when downloading a file it should be able to hit more then 1.5MB/s upload... I'll continue to look into HAProxy options along with nuster. Thank you for your time.

[2020-04-08 14:15] jiangwenyuan commented on #64
try disable `http-buffer-request`?

[2020-04-08 14:20] Dragon988 commented on #64
Yes, same issue.

[2020-04-08 14:24] jiangwenyuan commented on #64
Can you enable log? Maybe we can find something from the logs

[2020-04-08 14:31] Dragon988 commented on #64
It might actually be my host. I'll reopen this if it turns out not to be.

Thank you so much for the fast responses. I appreciate it!

[2020-04-08 14:31] #64 closed

[2020-04-12 06:37] netrixken opened #65 "Nuster used too much memory and freezed"
[code]

Version: 5.0.0.21

*** GLOBAL ***
[code]

*** BACKEND ***
[code]

[2020-04-13 13:50] jiangwenyuan commented on #65
@netrixken Thanks for reporting, fixed in https://github.com/jiangwenyuan/nuster/tree/H2.1

Can you try branch H2.1?

[2020-04-13 14:31] netrixken commented on #65
The problem still persist, after error like shown below, Nuster is crashed.

[code]

[2020-04-13 14:33] jiangwenyuan commented on #65
Hmm, can you share a complete config file?

[2020-04-13 14:36] netrixken commented on #65
[code]

[2020-04-13 14:38] netrixken commented on #65
[code]

[2020-04-13 14:46] jiangwenyuan commented on #65
Thanks, and what's your OS?  The error appears without any traffics? It appears only under heavy traffics on my side.

This is a change brought in HAProxy v2, I fixed a bug which might trigger this error. Not sure if it's related to haproxy or not.

[2020-04-13 14:49] netrixken commented on #65
Total traffic only ~50.000 view/day

[code]

[2020-04-14 02:34] jiangwenyuan commented on #65
Use the same environment, same build, same config(except kernel 4.9.0 not 3.16) to stress test with wrk for almost 10 hours with random requests, and no error occurred.

Could you try followings?

1. use the binary directly: ./haproxy -f config
2. use a different dir and start `dir /opt/nuster/cache2`
3. use a clean OS, git clone, make, and start

[2020-04-15 09:14] jiangwenyuan commented on #65
@netrixken Reproduced it when dealing with another issue, should be fixed now in H2.1

https://github.com/jiangwenyuan/nuster/commit/99c60fbdaf880ce0bd34cf6cbb7ed001e46ea5ef

Could you please try again?

Thanks!

[2020-04-15 09:58] netrixken commented on #65
has been running for 20 minutes by now, with no error. i think it's fixed, will report it back if this reproduced again.

i'm sorry, i can't give you anything, but thank you very much.

[2020-04-15 12:12] jiangwenyuan commented on #65
Thank you so much! I'm closing it for now, feel free to reopen if it happens again

[2020-04-15 12:12] #65 closed

[2020-04-18 02:51] everyx opened #66 "Can not delete cache for domain? (nuster v5)"
Hi, i found that I cann't delete cache, when I send request below, I get 200 return by nuster, but cache for this domain not deleted, I can't find out what the problem is.

* nuster version: nuster docker v5.0.1.21

[code]

my nuster config:

[code]

[2020-04-18 03:24] jiangwenyuan commented on #66
@everyx Can you enable `debug` and upload the log?

include: create the cache, get the cache, delete the cache, and get the cache again.

[2020-04-18 05:07] jiangwenyuan commented on #66
@everyx You are using https: while `    bind *:80` ?

[2020-04-20 23:47] skinkie opened #67 "No files appear in disk cache"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Fetch a request http://localhost:8181/14/8457/5429.png

## Actual behavior

1. Request is served

## Expected behavior

1. Request is served
2. Cached file can be seen in /var/tiles/nuster

## Do you have any idea what may have caused this?

Looking via strace it suggest

[2020-04-21 00:01] jiangwenyuan commented on #67
@skinkie Hi,

disk sync mode : Save data to memory first and data will be synced to disk later by the master process.
Meaning that the file dost not create immediately on response completion, while `disk on` does.

You can try

https://github.com/jiangwenyuan/nuster#disk

[2020-04-21 00:11] skinkie commented on #67
While I assumed wrongly I already tried disk on, I can confirm this fixes it on all systems I just tested.

[code]

Thanks for you incredible quick reply.

[2020-04-21 00:14] skinkie commented on #67
Ok, going to open it again because I can break it. Several configurations suggest http mode is not required. Without http mode, no files get stored.

[code]

[2020-04-21 00:17] jiangwenyuan commented on #67
Yes, `mode http` is a must, as `mode tcp` does not perform L7 examinations such as headers..

https://cbonte.github.io/haproxy-dconv/2.1/configuration.html#4-mode

[2020-04-21 00:19] skinkie commented on #67
I suggest to extend this example https://github.com/jiangwenyuan/nuster/wiki/Use-nuster-As-HTTP-Cache-Server with a disk cache example, and add the above explanation.

[2020-04-21 00:26] jiangwenyuan commented on #67
@skinkie Sorry, the example is incorrect! Will do, and welcomed to update the wiki:)

[2020-04-21 00:29] skinkie commented on #67
Done.

[2020-04-21 00:29] #67 closed

[2020-04-21 14:43] skinkie opened #68 "Strange effect with nuster"
I am trying to achieve the following:
 - binding to port 80 (http)
 - binding to port 443 (https, http/2)

Rewriting an incoming request, specifically removing a path from the request and then forwarding it to a remote server. I observe that the rewriting works without issues if the request comes in via port 80, but the rewriting fails over 443.

Fail: https://127.0.0.1/osm/5/20/24.png
Works: http

[2020-04-21 14:46] skinkie commented on #68
I limited the problem to alpn h2,http/1.1, removing that seems to directly work.

[2020-04-21 14:49] skinkie commented on #68
Sometimes all you have to do is open a bug report, and everything will magically start to work.
https://discourse.haproxy.org/t/http-request-replace-uri-seems-to-be-handled-differently-between-2-0-9-and-2-1-0/4564/3

[code]

[2020-04-21 14:52] #68 closed

[2020-04-21 22:32] skinkie opened #69 "When a client aborts the connection, is the full result correctly cached?"
I am currently running a nuster service at tile.openstreetmap.nl and something interesting happens. It seems that several upstream files get only _partially_ stored. I wonder if a file gets cached correctly if the fetching client aborts the connection.

![image](https://user-images.githubusercontent.com/502394/79920545-a46b1800-8430-11ea-9aa1-8bcb51cb0a46.png)

[2020-04-21 23:47] packeteer commented on #69
hmm, we see similar behaviour with some values not being cached

On Wed, 22 Apr 2020 at 08:33, Stefan de Konink <notifications@github.com>
wrote:

[2020-04-22 00:01] jiangwenyuan commented on #69
@skinkie If the client aborts the connection, the response is  cached partially but set to invalid, and will be deleted later. It will never be served to clients.

If you enable debug:

[code]
The cache is stored completely and set valid and can be served after `Created`

[2020-04-22 09:40] skinkie commented on #69
@jiangwenyuan how can we best debug this issue? I don't know how I can **programmatically** trigger this issue, which makes consistent reproducing difficult other than zooming into and out from a map.

[2020-04-22 09:59] jiangwenyuan commented on #69
@skinkie can you share a reproducible config file?

[2020-04-22 10:13] skinkie commented on #69
https://github.com/jiangwenyuan/nuster/issues/68#issuecomment-617228085

[2020-04-22 10:23] jiangwenyuan commented on #69
@skinkie which url should I get? http://127.0.0.1/osm ?

[2020-04-22 10:28] jiangwenyuan commented on #69
@skinkie Can you tried the latest version and enable debug? And when the error occurs, can you check chrome devtools to find out which url is broken, and check the log to see if the url is cached or not?

[2020-04-22 10:29] skinkie commented on #69
@jiangwenyuan I'll do so shortly.

[2020-04-22 11:22] skinkie opened #70 "A bogus Stream"
Previous git version (yesterday), now running with the latest.
[code]

[2020-04-22 11:29] skinkie commented on #69
I can reproduce this with the latest version. Debug is enabled.
[code]

Half of the tile:
![image](https://user-images.githubusercontent.com/502394/79976580-26912600-849d-11ea-8112-ad0d235fed5c.png)

[code]

[2020-04-22 11:39] jiangwenyuan commented on #69
@skinkie what is the url of the broken image?

[2020-04-22 11:40] jiangwenyuan commented on #70
@skinkie master branch or v5.0.4.21?

[2020-04-22 11:41] skinkie commented on #70
Master branch. (Checked out Tuesday around 12am CEST)

[2020-04-22 11:42] skinkie commented on #69
https://tile.openstreetmap.nl/osm/12/2114/1351.png

[2020-04-22 12:02] jiangwenyuan commented on #69
1. Are you using master or v2.0.4.21?

2. What if you stop all other traffics and access https://tile.openstreetmap.nl/osm/12/2114/1351.png, and what's the output?

3. can you gdb -p haproxy-pid and  try `p *nuster.cache.dict.entry[8041175051104540622%nuster.cache.dict.size]`

4. http is fine but https is broken?

5. How can I reproduce it on my side? I can access http://127.0.0.1/osm/5/20/24.png,

[2020-04-22 12:05] jiangwenyuan commented on #70
Strange, should have been fixed in H2.1, can you try v5.0.4.21? master is based on haproxy-dev branch.

[2020-04-22 12:29] skinkie commented on #69
1. only running master

2. please clarify; I can try to run this thing locally on my laptop and see if I can reproduce it. But it will still imply I need to do multiple request in order to get Chrome to abort a request. This also suggest this start with HTTP/2

3. (gdb) p *nuster.cache.dict.entry[8041175051104540622%nuster.cache.dict.size]
$1 = {next = 0x0, state = 2, key = {flags = 0 '\000', size

[2020-04-22 12:31] skinkie commented on #70
I'll check on v5.0.4.21 and also report back on the other ticket.

[2020-04-22 12:36] skinkie commented on #69
I have just checked v5.0.4.21 on the server. Sadly: same issue.

[2020-04-22 12:40] skinkie commented on #69
Preliminary result: when http/2 is disabled, I am unable to reproduce the issue with a clear cache.

[2020-04-22 15:00] jiangwenyuan commented on #69
@skinkie I successfully created a local system, but could not reproduce it.

So I downloaded needed static files:

[code]

Update the index2.html

[code]

create a local http server:

[code]

nuster.cfg:

[code]

everything works fine. But I do observed some requests are cancelled
<img width="1434" alt="Screen Shot 2020-04-23 at 0 00 02" src="https://user-images.githubusercontent.com/19603306/7999

[2020-04-22 15:01] skinkie opened #71 "Address Sanitation error"
[code]
I noticed that this error does not happen in the master branch of haproxy.

[2020-04-22 15:10] skinkie commented on #69
I am trying to reproduce it on my local system as well (including cancelled requests), which does not yet result into an issue either. This may suggest a threading issue...

[2020-04-22 15:19] skinkie commented on #69
I am consistently able to reproduce this issue on the server with http/2, also with one single worker. Will continue to see if I can reproduce this locally.

[2020-04-22 16:55] skinkie commented on #69
Why I notice on the server; below is the first time that the tile is requested with an empty client cache and empty proxy cache. As you notice it is requested by "my client". So I was generally the first one. You can see that this tile is served with the size of 43420. This is the **actual size** of the tile. This is also the size of the file that comes from nuster.

...but the cached item (if bin

[2020-04-22 17:32] skinkie commented on #69
I have yet tested disabling multiple parameters. The only consisted fix is to disable HTTP/2.

[2020-04-23 00:08] jiangwenyuan commented on #69
At least the disk file is corrupted

[2020-04-23 10:25] jiangwenyuan commented on #69
@skinkie  Should be fixed in https://github.com/jiangwenyuan/nuster/tree/issue69 , can you try?
Thanks

[2020-04-23 11:28] skinkie commented on #69
There are no "half" tiles anymore. But I do not get any 304 responses anymore.

[2020-04-23 12:10] jiangwenyuan commented on #69
[code]

[2020-04-23 12:30] skinkie commented on #69
Back to the drawing board...

![image](https://user-images.githubusercontent.com/502394/80099268-7986de00-856e-11ea-9dfa-7c22ad0806a3.png)

It seems that now the second time the file is loaded the file is complete transfered from the server.

With respect to 304 messages: I saw in Chrome "200" responses, but they did come from disk cache.

[2020-04-23 12:41] skinkie commented on #69
![image](https://user-images.githubusercontent.com/502394/80100550-637a1d00-8570-11ea-8931-515d3b793a28.png)
The 404 tiles seem to be "Failed" requests, showing a HTTP2 protocol error.

[2020-04-23 13:12] skinkie commented on #69
![image](https://user-images.githubusercontent.com/502394/80103677-e00efa80-8574-11ea-8b3b-eeda5b79d98d.png)

[2020-04-23 13:53] skinkie commented on #69
Not that I am able to see. I do have the debug logs running. One of the suggestions I found on stackoverflow was an invalid content-length not matching bytes transferred.

[2020-04-24 00:10] jiangwenyuan commented on #69
So currently the bug is ERR_HTTP2_PROTOCOL_ERROR which caused the failed requests? I saw 88.png is partial, does the 'half' image issue persist?

[2020-04-24 00:17] skinkie commented on #69
@jiangwenyuan I think you have consistently resolved the disk cache issue. Because it seems that I can always query the complete file by open in a new tab and hit F5, even if it initial download would give me a partial download. So that still brings us to the ERR_HTTP2_PROTOCOL_ERROR problem.

[2020-04-24 08:35] jiangwenyuan commented on #69
You're right, it's very difficult to reproduce, the ERR_HTTP2_PROTOCOL_ERROR never occurs here.

When ERR_HTTP2_PROTOCOL_ERROR happens, can you try follows?

[code]

[2020-04-24 10:57] jiangwenyuan commented on #71
@skinkie fixed in https://github.com/jiangwenyuan/nuster/commit/579582cdb7410ee8f49f8247a020dc8c44f22769

Can you confirm?
Thanks

[2020-04-24 11:02] skinkie opened #72 "Compilation warnings H2.1"
[code]

[2020-04-24 11:08] skinkie commented on #71
It looked so promising (since the minor memory leak was also gone) that I started to wonder if ASAN actually worked by removing your patch ;-)

Confirmed: this works. Good job.

[2020-04-24 11:55] jiangwenyuan commented on #72
What's your build command?

[2020-04-24 11:55] jiangwenyuan commented on #71
Thanks

[2020-04-24 11:55] #71 closed

[2020-04-24 12:10] skinkie commented on #72
git checkout H2.1
patch -p1 -i/tmp/asan.patch.txt
make TARGET=linux-glibc USE_OPENSSL=1 USE_PCRE=1 USE_ZLIB=1 -j10
ASAN_OPTIONS="halt_on_error=0" ./haproxy -W -db -f haproxy.cfg

[asan.patch.txt](https://github.com/jiangwenyuan/nuster/files/4528740/asan.patch.txt)

[2020-04-24 12:26] jiangwenyuan commented on #72
Only this warning:

[code]

[2020-04-24 12:27] skinkie commented on #72
gcc (Gentoo 9.3.0 p1) 9.3.0
Copyright (C) 2019 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2020-04-24 13:58] jiangwenyuan commented on #72
I see, I'm still using 4.8. Anyway it's harmless

[2020-04-24 14:24] jiangwenyuan commented on #66
Close for inactivity and irreproducible

[2020-04-24 14:24] #66 closed

[2020-04-25 08:52] everyx commented on #66
Sorry about late reply, I have using  nuster behind traefik, `traefik(:443) -> nuster(:80) -> backend(:3000)`

Can I get you email address to send the log?

I have test if i remove traefik, and nuster get back worked fine, and this problem doesn't exist in v2.

[2020-04-25 09:45] jiangwenyuan commented on #66
@everyx You can find the email in README or git log.

Since `nuster(:80) ` , so probably you need to use curl -X DELETE http:// instead of https:// depending on your config file. Can you share the config file? or remove scheme from key

https://github.com/jiangwenyuan/nuster#key-key

[2020-04-25 10:06] everyx commented on #66
@jiangwenyuan email just sent with log and config file.

 I have auto https redirect, so I couldn't use `use curl -X DELETE http://`.

[2020-04-25 19:58] skinkie commented on #70
[code]
This is was on the Issue 69 branch.

[2020-04-26 09:53] skinkie opened #73 "Segmentation fault"
I'll run gdb next time, branch issue 69

[84343884.204634] traps: haproxy[20116] general protection ip:63515d sp:7ffc5a22b3e0 error:0 in haproxy[400000+2e4000]

[2020-04-26 11:59] jiangwenyuan commented on #73
@skinkie Can you try on H2.1?

[2020-04-26 12:05] skinkie commented on #73
@jiangwenyuan sure, did you merge issue 69 there?

[2020-04-26 12:07] jiangwenyuan commented on #73
@skinkie yes

[2020-04-26 12:12] skinkie commented on #73
@jiangwenyuan interesting or not, directly after restarting it in H2.1 I see a http2 protocol error ;-) Lets see how this continues.

[2020-04-27 17:34] pbhogan opened #74 "Issue with high contention on a single endpoint / resource"
I was evaluating nuster for a project and came across a pretty serious flaw.

Let's say you set up 100 connections to make repeated requests from a single endpoint as fast as they possibly can—essentially simulating high traffic. And then have that endpoint cached by nuster with a TTL of 5 seconds.

First, unless the initial connections are spaced out significantly, all (or many?) of them get a ca

[2020-04-28 01:27] jiangwenyuan commented on #74
@pbhogan Thanks, you are right.

I'm planning to add a new directive `wait TIME`, to solve this kind of issue. If there's no `wait` specified, then there's no wait happens, all requests are passed to backend. if there's `wait` specified, then first request is passed to backend and others will wait for `TIME` seconds(forever if TIME is 0).

[2020-04-28 01:42] packeteer commented on #74
I assume in the case of identical POSTs, it will wait till the first
transaction is completed ?

On Tue, 28 Apr 2020 at 11:28, Jiang Wenyuan <notifications@github.com>
wrote:

[2020-04-28 02:09] jiangwenyuan commented on #74
@packeteer No, it does not wait.

[2020-04-28 10:55] jiangwenyuan commented on #73
@skinkie fixed a segfault in H2.1, do not know if it's related or not though

[2020-04-28 11:00] skinkie commented on #73
Restarted with the latest commit.

[2020-04-28 12:56] pbhogan commented on #74
You might also consider taking the approach varnish does, which is to optionally allow a grace period during which stale data is served to other connections while that first connection is fetching from the backend.

They extend that to allowing serving stale data for a grace period while the backend is down too, which can be useful for deploys where read-only data is basically zero-downtime as a r

[2020-04-28 13:06] jiangwenyuan commented on #74
Thanks, and I'm also planning to add support for background update.

[2020-04-30 22:02] skinkie commented on #73
Up till now no issues yet :)

[2020-04-30 22:03] skinkie commented on #70
On the H2.1 no issue yet...

[2020-05-01 01:31] jiangwenyuan commented on #73
Thanks, I'm closing it, feel free to reopen if it happens again

[2020-05-01 01:31] #73 closed

[2020-05-01 01:31] jiangwenyuan commented on #70
Thanks, I'm closing it, feel free to reopen if it happens again

[2020-05-01 01:31] #70 closed

[2020-05-01 01:32] jiangwenyuan commented on #72
I'm closing it, I'll upgrade the system when it's possible and try fix this warning

[2020-05-01 01:32] #72 closed

[2020-05-01 01:34] jiangwenyuan commented on #69
I'm closing this issue since the partial cache issue has been fixed.

Feel free to create a new issue if the ERR_HTTP2_PROTOCOL_ERROR occurs again.

[2020-05-01 01:34] #69 closed

[2020-05-03 21:43] xjuggler opened #75 "cache key name by header response name"
Hi,

maybe it is my error. But I think not) I try to set the name of the cache entry by a header that I send on the source page.

[code]

The CACHEKEY is found and the site is cached. Problem is, that he not react afterword correctly. He is showing on every page the first site, which was cached by the key. For me it seems so, that he is not saving the cachekey or with empty string.

Best regards,

[2020-05-04 00:28] jiangwenyuan commented on #75
@xjuggler This is expected behaviour.

[code]
You an use response header `res.hdr(cachekey)` in ACL but not in key, the `header_cachekey` is only for request header

[2020-05-04 00:32] xjuggler commented on #75
Thanks a lot for the fast reply. And keep up the great work! I think we will use your project for a project.

Is there a way to set the key regarding the first response header? We would like to set the key in this way. This would make the handling of purging and refresh much more easy. Because we can not use the urls for that.

Best regards,

Stefan

[2020-05-04 00:39] jiangwenyuan commented on #75
I don't think so. The key is used to look up the cache in the request stage to avoid sending requests to the backend, if we use the response header to set the key, only until we get the response could we know if it's a hit a not, so there's no point to cache.

[2020-05-04 00:45] xjuggler commented on #75
I understand. Maybe a nice feature. If a header key is set, lookup in the key database if there is a cached entry. If not, request side and set cache with the header key. That would make the life so much easier. Maybe it would add a little to the first response, but i would not care. Because it is only the first response.

Should be possible from the logic side?

[2020-05-04 00:51] jiangwenyuan commented on #75
I think it's impossible. suppose we have following two requests.

curl http://127.0.0.1:8080/something

and there are two different responses with different header_cachekey and we cached that.

Then next time when the same request comes, which one should we return?

So there's must be something in the request that cause a different response, then we can use that part as key.

[2020-05-04 01:01] xjuggler commented on #75
I see. That's impossible) The problem is, I would like to purge by a key for an element of the site. But I have no idea, on which site this element was when set. We can purge a directory. But if there is a way to only purge 2 sites out of 100.000, it would be great. With setting a unique id via header, we could do that simply. But without, we need to save this in our database inclusive all the req

[2020-05-04 01:06] jiangwenyuan commented on #75
Can you use rule name to purge?

[code]

With above rule, if cachekey is found in response header, then the response is cached.

And you can use rule name `ruleResHdrCacheKey` to purge that.

[2020-05-04 01:11] xjuggler commented on #75
I need to delete specific keys. They are all unique. Have to check the documentation, if I can regex the header values. But I think you understand the problem. But please, do not waste you time. That is our homework) But I'm glad you response that fast and help us)

[2020-05-04 01:40] jiangwenyuan commented on #75
I'm closing it, feel free to open new issues if you have any problems:)

[2020-05-04 01:40] #75 closed

[2020-05-05 13:59] jiangwenyuan commented on #74
Added `wait WAIT`

[2020-05-16 16:00] igorescobar opened #76 "Nuster + EFS"
Hi,

I'm sorry if this is not the right place to ask this question. AWS has a service called EFS (Amazon Elastic File System). With it, you can mount the same volume into several docker containers for example. It means that, in theory, I could have several application containers, one or more Nuster instances sharing the same volume for caching.

Using ECS + EFS I could even have one dedicated cont

[2020-05-16 19:45] uasan commented on #74
There is a similar request for HAProxy
https://github.com/haproxy/haproxy/issues/214#issuecomment-524842217

[2020-05-17 10:53] jiangwenyuan commented on #76
Hi, after a quick though, I felt it should probably work, since I don't have EFS environment, do you mind to have some test?

[2020-05-17 10:57] jiangwenyuan commented on #74
@uasan Thanks, `cache lock` has been implemented by `wait`, and `Use stale cache while revalidate` is already done and I expect to push to master in a day or two after doing some test.

[2020-05-17 12:44] packeteer commented on #76
faire, EFS is essentially NFS

On Sun, 17 May 2020 at 20:53, Jiang Wenyuan <notifications@github.com>
wrote:

[2020-05-18 10:22] igorescobar commented on #76
I'm asking because like Nginx for example, it builds a in-memory index with all the cached files inside your cache folder and it uses that in-memory table to decide if it is a MISS or a HIT.

So during the initialisation of the container (or several containers at the same time) it results into a ton of MISSES and sometimes it even gets lost and starts removing the entire cache folder and starts re

[2020-05-18 10:23] igorescobar commented on #76
I'm asking because like Nginx for example, it builds a in-memory index with all the cached files inside your cache folder and it uses that in-memory table to decide if it is a MISS or a HIT.

So during the initialisation of the container (or several containers at the same time) it results into a ton of MISSES and sometimes it even gets lost and starts removing the entire cache folder and starts re

[2020-05-18 10:44] jiangwenyuan commented on #74
@pbhogan @uasan Added `use-stale on|off|TIME`.

Now nuster supports `wait on|off|TIME`: one request send to backend to update cache and others wait`, `use-stale on|off|TIME`: use stale cache while updating cache or for TIME seconds when backend is down.

[2020-05-18 11:11] jiangwenyuan commented on #76
@igorescobar I see, nuster does have an in-memory table but act in a different way.

There are two stores: memory and disk, and four modes:

- memory on disk on
- memory on disk  off
- memory on disk sync
- memory off disk on

And act differently if nuster restarts and loaded or not.

1. not restart

For `memory on disk on|off|sync`, nuster just use the cache stored in memory to serve clients.

Fo

[2020-05-18 13:27] igorescobar commented on #76
Ok, so that's great.

So if I got it right... there is this transition period that during this step where Nuster is populating the in-memory table (during initialization) it will fallback to disk before forwarding the request to the origin.

Thanks a lot for such detailed explanation @jiangwenyuan

I hope this discussion helps more people in the future.

[2020-05-18 13:55] jiangwenyuan commented on #76
@igorescobar

Yes, if there's no entry in the table and the load process is not complete, then check the existence of cache file in disk.

Yes, that's right.

[2020-05-18 13:59] igorescobar commented on #76
That's great!
Thanks!

[2020-05-19 10:02] #74 closed

[2020-05-19 17:41] igorescobar commented on #76
Hi,

I'm sorry to bother you again with this but the behaviour still not quite the way you described for me:

This is my `nuster.cfg`:
[code]

With this configuration, the proxy works and the cache also works but with a few issues:

A few issues:

1. If I restart the container, Nuster keeps returning `503 Service Unavailable` until the `backend` isn't available. I was expecting that it could still

[2020-05-19 18:19] igorescobar commented on #76
I just noticed that everytime I restart the container Nuster is removing the entire content of the cache folder. Any idea why?

First request:
[code]

Second request (with cache hit):
[code]

After the restart, the directory gets cleaned up and I get a cache miss.

[2020-05-19 19:15] igorescobar commented on #76
I just deployed it to ECS + EFS just to make it wasn't some issue with my local docker setup and the same issue happened. I restarted the container and the EFS volume also got cleaned up.

[2020-05-20 01:43] packeteer commented on #46
fwiw, I think something like ZeroMQ might be a better fit for this

[2020-05-20 04:17] jiangwenyuan commented on #46
iicu, ZeroMQ is a message queue, how can we find data by key in such system?

BTW, I'm working on using redis as 3rd backend store.

[2020-05-20 04:18] jiangwenyuan commented on #46
iiuc, ZeroMQ is a message queue, how can we find data by key in such system?

BTW, I'm working on using redis as 3rd backend store.

[2020-05-20 04:55] jiangwenyuan commented on #76
@igorescobar Turns out it's a bug introduced when adding stale support, that disk cache are deleted even not expired as long as the `use-stale on` is set. Since the `ttl` is 0 in your config, you can simply remove `use-stale on` as a workaround. I will push the bugfix soon.

Sorry for the inconvenience.

[2020-05-20 05:03] packeteer commented on #46
oh ok, I was thinking the service would only be used to transfer content between running processes, not used as a backend.
my misunderstanding of Nuster internals

[2020-05-20 05:08] jiangwenyuan commented on #46
I see, do you mean use that as a sync mechanism?

[2020-05-20 05:09] packeteer commented on #46
yes, exactly

[2020-05-20 05:17] jiangwenyuan commented on #46
Interesting, thanks for the info:) I would evaluate that along with haproxy peers an other options.

[2020-05-20 05:35] igorescobar commented on #76
No worries @jiangwenyuan.
If TTL=0 it means that Nuster will honour my cache http headers, right?

[2020-05-20 05:47] jiangwenyuan commented on #76
No, ttl=0 means that the cache does not expire.

Currently nuster does not use cache related headers like `cache-control` .

[2020-05-20 06:01] igorescobar commented on #76
Hum,
I was expecting it would work similar to nginx in that case. So it means I need to duplicate my cache definitions on the API onde (needed for the CDN and user browser) and on the Nuster config.

[2020-05-20 06:13] jiangwenyuan commented on #76
I understand, my original intention to create nuster was to cache uncacheable request/response for short time in memory, like those( `Cache-Control: no-cache `). So there's no need to support that.

But I plan to add support for that.

[2020-05-20 09:32] jiangwenyuan commented on #76
@igorescobar Fixed disk cache delete when use-stale on.

[2020-05-20 11:00] igorescobar commented on #76
Hey @jiangwenyuan thanks for the quick fix.

Here it is what's happening now:
1) The good part: the directory is now there and no clean up happens.
2) During the boot of the container, I still have the errors `503`  errors while the backend is not booted.
3) After the backend is online the first request is always a MISS regardless if the file is there already cached or not.

I was expecting that N

[2020-05-20 11:08] igorescobar commented on #76
Ignore my previous comment @jiangwenyuan. I guess it was my mistake.

All good!

Thanks!

Two things that would be nice to have (similar to Nginx):
1) It would be nice if Nuster to add a TTL to files individually based on the Cache-control headers. Nginx respects the header by default but you can turn it off and overwrite the cache definitions.
2) It would be nice to be able to define a "inactive"

[2020-05-20 11:18] jiangwenyuan commented on #76
@igorescobar Thanks a lot!

Yeah, I'm going to add this

Can you be more specific? what's the difference with `tt`l and `use-stale`?

[2020-05-20 11:24] igorescobar commented on #76
@jiangwenyuan

Sure! For example, I can cache a file for 6 months of they are still active/being requested. What the `inactive` does is basically: ttl + inactive would is: Ok, I will cache your file until `ttl` is valid BUT if nobody request your file for more then I will clean it up. It's mostly to save storage and not waste money on dead files. On our use case we want to cache the files for as l

[2020-05-20 12:45] jiangwenyuan commented on #76
@igorescobar Thanks, say the ttl is 10m, the cache get deleted after 00:10:00, with `inactive 1m`, the cache can be deleted at 00:05:00 if there's no access between 00:04:00~00:05:00 ? Am I understanding correctly?

[2020-05-20 13:01] igorescobar commented on #76
@jiangwenyuan It goes like this... "I will cache this file for `ttl` months, but if the file isn't requested for `inactive` days" the disk-cleaner can just delete the file from the because it met the `inactive` criteria.

[2020-05-20 13:05] jiangwenyuan commented on #76
@igorescobar I see, thanks, I will implement this.

I'm closing this issue since it's solved, feel free to open issues when you encounter any problems:)

[2020-05-20 13:05] #76 closed

[2020-05-20 13:09] igorescobar commented on #76
Thanks a lot @jiangwenyuan !
I can submit other tickets marked "enhancement", it might be better organized for you to track.

[2020-05-20 14:21] jiangwenyuan commented on #76
@igorescobar Cool, please:)

[2020-05-20 14:42] igorescobar opened #77 "Respect ttl from the cache-headers"
## Current behavior
`Nuster` ignores the information ta comes from the backend regarding for how long should Nuster cache the file. It means that if your backend already takes care of setting correctly the `Cache-Control` header you might have to duplicate all your cache definitions in both places since this header is highly adopted if you have a CDN on top of your service or even for local cachin

[2020-05-20 14:53] igorescobar opened #78 "Clean files that are not requested for x period of time."
## Current Behavior
`Nuster` do not clean inactive files. It means that I might set a cache policy for that file that might make them being cached for months by default. For services that deal with millions of files this might mean a lot of money wasted on files that are not requested/needed anymore.

## Expected Behavior
`Nginx` offers a parameter called `inactive=` on the proxy_cache_path direct

[2020-05-20 14:53] igorescobar commented on #76
Created!
https://github.com/jiangwenyuan/nuster/issues/78
https://github.com/jiangwenyuan/nuster/issues/77

Cheers!

[2020-05-21 09:05] igorescobar opened #79 "data-size when memory off?"
Hi,

I'm trying to understand how this data-size + dict-size works together.

On my setup I have I have `memory off` and `disk on`. Initially, I thought that data-size was actually the max amount of data I want to store inside of `dir` but when I raised that to gigabytes in size (which is ok if we are talking about disk) is started to have errors like `nuster_1  | [ALERT] 141/085908 (1) : Out of m

[2020-05-21 09:11] igorescobar opened #80 "Proxy fe reached process FD limit"
Hi,

When the load increases I'm seeing this errors on my logs which results in 5xx HTTP errors on our load balancers:
[code]

Is there any documentation about how I can work around this issue?
I tried to set things like:
[code]

Locally it works fine but when I deploy it to ECS I see these errors:
[code]

Any idea how to configure this properly?

[2020-05-21 09:37] jiangwenyuan commented on #80
@igorescobar You probably need to modify the limits.  Maybe this: https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_Ulimit.html

[2020-05-21 09:42] jiangwenyuan commented on #79
@igorescobar what's your dict-size and data-size value? It's unlikely to occur `Out of memory when initializing cache.`

See https://github.com/jiangwenyuan/nuster#global-nuster-cachenosql

So when `memory of`, the response is not stored in memory, but other info like key, cache entry are stored there.

[2020-05-21 09:52] skinkie opened #81 "Refuse to die"
This one appeared again on master. I just upgraded master (5.0.0.21-2d7ef8-119) to see if it will fail again.
[code]

[2020-05-21 09:57] igorescobar commented on #79
Oh, so even when `memory off` we still need to allocate some memory for `data-size`. Do you know how to calculate this based on number of cached files?

[2020-05-21 09:57] jiangwenyuan commented on #81
@skinkie Thanks. I'll look into it.

BTW, master is for develop, please do not use master branch, use[ stable release](https://github.com/jiangwenyuan/nuster/blob/master/Download.md) instead.

[2020-05-21 10:00] skinkie commented on #81
I understand. But having a real used website run on beta code is the only way of real life validation.

[2020-05-21 10:02] igorescobar commented on #80
I had no idea about this limitation!

I wonder why `Nuster` had 4k+ files open/locked. It's very unusual for the number of req/min. 🤔

This is what I had to do to fix the ulimit on my ECS Task Definition:
[code]

Thanks!

[2020-05-21 10:03] jiangwenyuan commented on #79
Unless you know the average size of key and the length of host/path, etc, it's impossible to calculate

a request at least needs: ~300: sizeof(nst_dict_entry_t) + sizeof(key)(build from `method.scheme.host.uri`, default) + some extra overhead.

[2020-05-21 10:06] igorescobar commented on #79
Is there a way to just let `Nuster` use whatever he needs to use as long as it is available?

[2020-05-21 10:10] igorescobar commented on #79
I'm asking about how to calculate because Nginx for example has this `keys_zone=my_cache:10m`. And it gives you this to guide:

So it kinda helps you to calculate how much memory you might need based on the number of keys you have on your hash table.

[2020-05-21 10:19] jiangwenyuan commented on #79
nginx key_zones is something like [dict-size](https://github.com/jiangwenyuan/nuster#dict-size)

So a 1MB dict-size has a length of 1024*1024/8=131072(but you can save more than that)

But for data-size, it's different. Only pointers are store in dict while real data are stored in data.

But if you do want some estimation, how about `bufsize * cache_count`

[2020-05-21 10:35] jiangwenyuan commented on #81
Do you have more info? It starts happen again in latest commit? Do you have any idea  before which commit there's no such error?

[2020-05-21 10:37] skinkie commented on #81
This started to happen quite some while ago: https://github.com/jiangwenyuan/nuster/issues/70

[2020-05-21 10:48] igorescobar commented on #79
Do you have any idea why would `Nuster` stop writing to disk without giving any sort of error?

<img width="1599" alt="Screenshot 2020-05-21 at 11 47 16" src="https://user-images.githubusercontent.com/24032/82551827-dae3a200-9b58-11ea-8548-5db52c2a80a1.png">

All of the sudden it stoped writing but everything seems to be fine on the logs:
[code]

[2020-05-21 10:51] igorescobar commented on #79
This is my current config:
[code]

/nuster/cache has approx 9.1 GiB there.

[2020-05-21 11:26] igorescobar commented on #79
It was my mistake. I thought that if I had the `nuster cache on` on inside `global` section I didn't have to mention it again inside of the `backend` section.

Thanks for your support and your input in this @jiangwenyuan

[2020-05-21 11:26] #79 closed

[2020-05-21 12:24] jiangwenyuan commented on #79
Ah, yeah, you need to enable nuster on each backend

[2020-05-21 12:26] jiangwenyuan commented on #81
I see, I thought you have not encountered this error since then and just came across this again recently

[2020-05-21 12:29] skinkie commented on #81
@jiangwenyuan I think this might be the difference between H2.1 and master. But lets see if it happens again.

[2020-05-21 12:38] jiangwenyuan commented on #81
Thanks. I also changed one of my env from H2.1 to master to investigate.

[2020-05-21 15:58] igorescobar commented on #80
I have increased the limit and I hit it again 😄
[code]

Do you have any idea why does nuster keeps all those files locked for so long?
The number of requests per minute is usually around 1-2k. This number seems pretty odd to me unless there is a reason for it.

The problem Is that when that happens I get this error:
`Cannot get a server socket.` and this basically shuts everything down and the con

[2020-05-21 17:23] igorescobar opened #82 "Too many cache misses"
Hi,

Sorry to bother you guys again. But I'm having way too many cache misses on our setup.

On this issue (#76), you gave a pretty detailed explanation on how the cache lookup works and after setting up I wasn't expecting to see too many cache misses. So this is my current setup:

[code]

And this is pretty much how it looks like after a container restart:
[code]

And this is the output when the

[2020-05-22 00:51] jiangwenyuan commented on #82
@igorescobar

How many containers may you have at the same time? >= 1? Because you mentioned in the EFS issue, I think there would be no problem in case of multiple containers but have not done any test. I'm going to have multiple docker containers running in local mounting same volume, let's see what happens.

Meanwhile,  could you help test with `wait on` and/or `use-stale on` deleted. And when

[2020-05-22 01:04] jiangwenyuan commented on #80
@igorescobar Are you able to do `lsof -p ${nuster-pid}` when that happens? seems there's fd leak.

[2020-05-22 08:39] igorescobar commented on #80
I can't connect to the production containers. I increased the ulimits again and the defaults for disk-loader and disk-saver and so far the problem did not happen. Do you think it might be related somehow?

[2020-05-22 08:41] igorescobar commented on #82
Yes, it's more then one. Another super weird thing that it is happening:
<img width="1605" alt="Screenshot 2020-05-22 at 09 30 05" src="https://user-images.githubusercontent.com/24032/82648828-37ee5f00-9c10-11ea-8e54-1a5598a999f2.png">

During the day it happens that Nuster completely ignores the disk and only after restarting the containers it starts using the disks again. Notice the interruption

[2020-05-22 09:01] igorescobar commented on #82
Also, I managed to do some tests yesterday and if I target a file right after a new container becomes available I got several consecutive misses on a file that was already cached.

For me, it seems that, while Nuster is loading the cache into memory it can only deliver things that are on that index that Nuster is building everything outside of that Nuster isn't looking for the disk files.

[2020-05-22 09:04] jiangwenyuan commented on #80
There's no need to increase disk-loader to a very big number, as there's a max time limit for one iterate. And since you are not using `disk sync`, so there's no need to set `disk-saver`.

Since `The number of requests per minute is usually around 1-2k`, and you got fd limit error, smells like a fd leak. I have to do more investigation.

[2020-05-22 09:08] igorescobar commented on #80
Thanks @jiangwenyuan let me know if there is anything else I can support you with.

[2020-05-22 09:09] jiangwenyuan commented on #82
Hmm, there cannot be several consecutive misses. Even if nuster failed to sever the cache which does not be loaded, there should be only one miss.

I don't know, maybe it's something with ECS/EFS.

[2020-05-22 09:56] skinkie commented on #81
So today again.
[code]

[2020-05-22 09:59] igorescobar commented on #82
@jiangwenyuan can I configure the frequency of each interaction with the disk?

[code]

It seems that nuster is taking quite some time to load all the files into memory. The disk has ~30GiB and we are already a few minutes in and it seems like we only have only 8k files into the hash table?

[2020-05-22 10:10] igorescobar commented on #81
@skinkie you have a hard ulimit set to 4096. If you want to work around this you need to increase the ulimit to at least 2000047 based on your maxconn. BUT it seems that Nuster has some fd leak and @jiangwenyuan is looking into it.

[2020-05-22 10:26] skinkie commented on #81
@igorescobar I have an issue on that system which does not allow me to do an ulimit -n unlimited (as root). But I now lowered the  maxconn sufficiently to make the error disapeer.

[2020-05-22 10:27] igorescobar commented on #82
Is it 10ms?
https://github.com/jiangwenyuan/nuster/blob/ef63e5e0b0cf862e66fcba46e58a029a96954389/src/nuster/cache/engine.c#L349

If it's that's definitely too low for my use case. Nginx allows you to do something like this:
[code]

So `loader_files=300000 loader_threshold=10000` it means I want to load up to 300000 into memory until it hits the `loader_threshold` time.

[2020-05-22 11:23] igorescobar commented on #82
I tried to point to the `stable` docker version, a few minutes in and this happened:

------------------------------------------------------------------------------------------
|                                        @message                                        |
|----------------------------------------------------------------------------------------|
| Thread 3 is about to kill the process.

[2020-05-22 11:32] jiangwenyuan commented on #82
Yes, it's max 10ms. Probably I should add some option to control this time.

[2020-05-22 13:01] igorescobar commented on #82
@jiangwenyuan FYI, after removing the flags `use-stale on wait on` disk consumption seems to be steady not more cut-offs and cache performance seems to be getting better.

Just so you know how those `10ms` affects the load of the disk... 1+ hours later and I still don't have all files on the hash table:
[code]

Can you double-check if `Nuster` really checks the disk while `store.disk.cache.loaded`

[2020-05-22 13:04] igorescobar commented on #82
Ops... it stopped reading the disk again for no clear reason:
![Screenshot 2020-05-22 at 14 04 01](https://user-images.githubusercontent.com/24032/82670505-2bc8c880-9c35-11ea-84fe-27ca44248483.png)

[2020-05-22 13:27] jiangwenyuan commented on #82
@igorescobar Thanks a lot for the testing.

Yes, if you can build from source and test in local, you can put `return;` here:
https://github.com/jiangwenyuan/nuster/blob/master/src/nuster/store/disk.c#L403
so the disk will not be loaded to memory.

And you can enable `debug` to do some test.

[2020-05-22 13:41] igorescobar commented on #82
@jiangwenyuan It could be 500k, it millions :)

[2020-05-22 13:46] igorescobar commented on #82
What about the disk_cleanup?

https://github.com/jiangwenyuan/nuster/blob/master/src/nuster/store/disk.c#L602

I noticed that it only starts after the disk is loaded too. Do you think that this might be the reason why the read/write gets cutoff after a few hours?

[2020-05-22 13:52] jiangwenyuan commented on #82
I see. and how about the file size? So I could do the test with similar env.

disk_cleanup checks the disk cache file's validity and remove that if invalid.

[2020-05-22 13:54] igorescobar commented on #82
They are all images so it could be a few kb to a few mbs.

Worth mentioning that immediately after Nuster stops using the disk for read/write all requests starts to be a CACHE MISS.

[2020-05-22 14:37] igorescobar commented on #82
And again... It seems that it always happens around the same time...

![Screenshot 2020-05-22 at 15 35 14](https://user-images.githubusercontent.com/24032/82678698-f2e32080-9c41-11ea-95c0-772afb26474d.png)

[2020-05-22 14:39] igorescobar commented on #82
I'm starting to think that it might be related to that FD leak you mentioned.

[2020-05-22 15:15] jiangwenyuan commented on #82
~12:50: container restart time?

[2020-05-22 15:26] igorescobar commented on #82
The container restarted 2 minutes before you start seeing disk activity on the graph

[2020-05-22 15:29] igorescobar commented on #82
I didn't noticed before because I was running 2+ containers with one core and then a changed to 1+ containers with two cores instead to reduce the auto scaling triggers (just to test if this would impact the cache miss).

But now that I'm running with 2+ containers it could happen that I have one container working and another one that doesn't. That explain the high level of cache misses.

[2020-05-23 03:09] jiangwenyuan commented on #82
@igorescobar I just found out that the docker image nuster/nuster:v5.0.9.21 build failed. So you are probably using nuster/nuster:v5.0.8.21 which deletes disk cache file when `use-stale on` is set on load

[2020-05-23 04:43] jiangwenyuan commented on #82
Tested in local with 2 containers mounting same directory and works fine. I'm going to generate more data. No fd leaks found yet.

[2020-05-23 05:53] jiangwenyuan commented on #79
@igorescobar Turns out that `Out of memory when initializing cache.` is a misleading warning. It happens when failed to create `dir` too. I will fix that message..

[2020-05-23 08:56] igorescobar commented on #82
The problem also happens with only one container btw. That's why I found
that issue that it wasn't using the disk anymore.

On Sat, May 23, 2020, 05:43 Jiang Wenyuan <notifications@github.com> wrote:

[2020-05-23 08:57] jiangwenyuan commented on #80
@igorescobar Fix fd leak when failed to move file.
https://github.com/jiangwenyuan/nuster/commit/5a2dcaa559c9b437876ed2b8f56ef2017fc45be1

Can you try H2.1 branch and see if this error happens again?

[2020-05-23 08:57] igorescobar commented on #82
Worth mentioning that I wasn't using the use stale flag anymore since your
recommendation.

On Sat, May 23, 2020, 04:09 Jiang Wenyuan <notifications@github.com> wrote:

[2020-05-23 09:05] igorescobar commented on #80
Is it available on dockerhub?

On Sat, May 23, 2020, 09:57 Jiang Wenyuan <notifications@github.com> wrote:

[2020-05-23 09:11] jiangwenyuan commented on #80
Not yet, as I have not released yet, can you build or try `nuster/nuster:latest`?

[2020-05-23 09:36] igorescobar commented on #80
I will need more time to test it again. I had to revert the infra to the
old one because that was the production environment. I might need to
re-organise my terraform scripts to accommodate this A/B environment a bit
better.

On Sat, May 23, 2020, 10:11 Jiang Wenyuan <notifications@github.com> wrote:

[2020-05-23 13:27] igorescobar commented on #82
Test in progress.

[2020-05-23 13:43] igorescobar commented on #80
Test in progress. I will keep an eye on it for about 2-3 hours and let's see.

[2020-05-23 14:57] igorescobar commented on #35
Meanwhile, what I'm doing to "solve" this issue is by using AWS EFS which allows me to have several nodes/instances/containers pointing to the same data volume for caching. So regardless of how many containers I have going up or down they are always sharing the same volume for caching which is great. 👍

[2020-05-23 15:05] igorescobar commented on #17
@zabio3 What I'm going to "solve" this is by making the access log using a JSON format. Then, I'm using CloudWatch Insights to query and aggregate the data for me but it would work with any other service like Datadog, Logz or something like Kibana + Logstash.

On my case, I don't care much about the host itself this can give me a good overview of in a period of time how many requests went trough t

[2020-05-23 15:20] igorescobar commented on #46
Redis would be a better start in my opinion.

<img width="1227" alt="Screenshot 2020-05-23 at 16 17 17" src="https://user-images.githubusercontent.com/24032/82734166-e11c7e80-9d10-11ea-819e-77b6d209234e.png">

Interest worldwide - last 5 years - Memcached (blue), Redis (Red):
<img width="1192" alt="Screenshot 2020-05-23 at 16 19 09" src="https://user-images.githubusercontent.com/24032/82734196-250

[2020-05-23 16:47] igorescobar commented on #80
1) Regarding the FD leak, since I had to recreate everything again the disk was empty so the auto scaling is pretty sensitive right now. As soon it starts to have a decent cache the CPU will start to lower and the number of containers will start to be more steady. I will have a better result probably tomorrow.

2) All of the sudden this happened:

[code]
-------------------------------------------

[2020-05-24 02:02] zabio3 commented on #17
Thank you for including the query. By using the access log that you have proposed and totaling it, you can see the statistical information for each path, so I would like to solve this issue itself.
Cheers!

[2020-05-24 02:02] #17 closed

[2020-05-24 02:29] jiangwenyuan commented on #80
Another issue reports this error too, `latest` image is based on haproxy2.2-dev. Let me release a new H2.1 version.

[2020-05-24 07:15] igorescobar commented on #80
Will do!

The issue seems to be solved! Pretty steady since yesterday and the cache
is performing pretty good!

So this also solved the other issue xD

Thanks a lot for your help!

On Sun, May 24, 2020, 03:30 Jiang Wenyuan <notifications@github.com> wrote:

[2020-05-24 08:48] igorescobar commented on #80
FYI, This is how the Disk & the cache behaved since the experiment.

Current state of the cache (1h period):
![Screenshot 2020-05-24 at 09 45 57](https://user-images.githubusercontent.com/24032/82749776-72d4cc00-9da3-11ea-9d27-0f102c6eb8f4.png)
Overall Disk I/O Limit (last day):
![Screenshot 2020-05-24 at 09 45 32](https://user-images.githubusercontent.com/24032/82749781-76685300-9da3-11ea-94c2-8d

[2020-05-24 08:54] igorescobar commented on #82
So, yeah, the issue was definitely the one spotted on #80. Now that the application is using the disk correctly

![Screenshot 2020-05-24 at 09 45 45](https://user-images.githubusercontent.com/24032/82749914-6735d500-9da4-11ea-94a5-35399834058d.png)

Nuster is now working as described. 🎉

[2020-05-24 08:55] igorescobar commented on #82
Thanks @jiangwenyuan ! Well done!

[2020-05-24 09:03] igorescobar commented on #80
Any idea when those fixes the H2.1 & the FD Leak fix will land the Stable tag on docker hub?

[2020-05-24 10:13] jiangwenyuan commented on #82
Thanks a lot for testing:)

[2020-05-24 10:18] jiangwenyuan commented on #80
@igorescobar I'm investigating another problem and will release once solved

[2020-05-24 11:52] igorescobar opened #83 "High TTFB"
Hi,

It's me again :)

I'm pretty new to HAProxy + Nuster and I was wondering if there is anything I could do to reduce the TTFB:
![Screenshot 2020-05-24 at 12 46 54](https://user-images.githubusercontent.com/24032/82753372-e505da80-9dbc-11ea-975e-5a56351f06f0.png)

Worth mentioning that Nuster is Behind an AWS ELB and the TTFB seems pretty high for a file that is cached on disk.

I get a pretty s

[2020-05-24 14:00] jiangwenyuan commented on #83
@igorescobar There are some general advices regarding performance tuning on haproxy.org. For this specific TTFB on your specific environment, it's very hard to tell. Does all requests suffer such long ttfb? How does ELB perform? What if remove nuster? what happens if use `memory on`? etc.
I look forward to your investigation and tuning report:)

[2020-05-25 11:28] igorescobar opened #84 "CPU Getting Higher and Higher"
Ever since I started using Nuster the CPU usage keeps getting higher and higher and the "age" of the container gets older.

So this is the traffic on the last day:
![Screenshot 2020-05-25 at 12 17 24](https://user-images.githubusercontent.com/24032/82808486-fcf36200-9e81-11ea-917b-5ca341887ae7.png)

This is the number of containers (a new container gets added every time the CPU hits >50%:
![Screen

[2020-05-25 11:38] igorescobar commented on #84
Look how much the CPU decreases if I just replace the all the 5 containers by 2 (completely new containers):
![Screenshot 2020-05-25 at 12 37 46](https://user-images.githubusercontent.com/24032/82809673-8b68e300-9e84-11ea-83d3-e4b569ff85e3.png)

The CPU goes back to the normal levels and the traffic is exactly the same.

[2020-05-25 12:22] jiangwenyuan commented on #80
Released v5.0.10.21. Closing now, feel free to reopen if the issue persists

[2020-05-25 12:22] #80 closed

[2020-05-25 12:23] jiangwenyuan commented on #82
Released v5.0.10.21. Closing now, feel free to reopen if the issue persists

[2020-05-25 12:23] #82 closed

[2020-05-25 13:35] igorescobar commented on #84
Still too soon to tell but seems like removing the `disk-loader 100000` might have fixed it. You said that it wouldn't make any difference 😄 .

I will keep an eye for a few more hours, let's see.

[2020-05-25 13:49] igorescobar commented on #84
The only issue that happened so far after disabling this is:
[code]

Just about 1h after deploying the change.

[2020-05-25 14:11] jiangwenyuan commented on #84
Let's see what happens on v5.0.10.21

[2020-05-25 14:12] igorescobar commented on #84
I'm deploying it right now. But the CPU issue seems to be resolved by removing the flag.

[2020-05-25 16:31] skinkie commented on #81
Sadly GDB didn't give me an option to trace. But it just happened again.
[code]

[2020-05-25 16:35] igorescobar commented on #81
@skinkie I strongly recommend you to use the latest stable version that was released today.

[2020-05-25 16:39] igorescobar commented on #84
1) It has been running for a few hours now. Removing the disk-loader with a bug number seems to have fixed the issue so there is definitely room for improvement there.

2) Now that the CPU is more stable the number of containers needed will be also more steady, it means that I will be able to monitor how Nuster performs after running several hours and see if any crazy crash occurs.

[2020-05-25 16:41] skinkie commented on #81
@igorescobar switched to H2.1 now.

[2020-05-26 00:16] jiangwenyuan commented on #81
@skinkie Thanks a lot for helping test. Strange it never happens on my env( master or H2.1), tricky bug:)

I'd invest more time if it occurs on the stable version

[2020-05-26 06:42] igorescobar commented on #84
One day running. No issues.

About the `disk-loader` is it a bug? The CPU was getting higher and higher as the number of cached items increased. You mentioned that it wouldn't matter to set it as a high number as the timeout was `10ms`.

For what is worth, Nginx implements 3 flags that you can control:
`loader_files=100 loader_threshold=200 loader_sleep=50`

You can read more about there here: htt

[2020-05-26 06:53] igorescobar opened #85 "Crash: Segmentation Fault"
The issue reported here #84 keeps happening.

[code]

I had two containers at the time to give redundancy in case of errors and funny enough, both containers crashed with the same error and around the same time: 2020-05-26T01:51:31.046+01:00 and 2020-05-26T01:53:44.661+01:00.

This is all I have on the logs.

And this is the problem with this bug:
<img width="828" alt="Screenshot 2020-05-26 at 07

[2020-05-26 06:57] jiangwenyuan commented on #85
@igorescobar v5.0.10.21?

[2020-05-26 06:58] igorescobar commented on #85
Yeah, that's the `stable` tag on Dockerhub.

[2020-05-26 07:06] igorescobar commented on #85
I will retrieve the latest image again and re-deploy. I will keep you posted.

[2020-05-26 07:07] jiangwenyuan commented on #85
Before you retrieve the lastest image, can you check the version of the crashed image?

[2020-05-26 07:09] igorescobar commented on #85
Well, I guess now it's too late haha. But the command `docker pull nuster/nuster:stable` did retrieve a new image otherwise it would say that it is already up to date.

[2020-05-26 07:11] igorescobar commented on #85
The current one is: `cd2271e36fd3`  167MB. and the previous one was: `69f38f828f2b` 95.8MB

[2020-05-26 07:12] igorescobar commented on #85
Sorry, I got it wrong.
The current one is:
nuster/nuster                                                                 stable               9f556953a5ea        17 hours ago        95.8MB

[2020-05-26 07:13] igorescobar commented on #85
The previous one might be:
nuster/nuster                                                                 <none>               69f38f828f2b        3 days ago          95.8MB

[2020-05-26 07:14] jiangwenyuan commented on #85
And the one crashed was `69f38f828f2b` or `9f556953a5ea`?

[2020-05-26 07:15] igorescobar commented on #85
Probably: `69f38f828f2b`. The `9f556953a5ea` is the one I just deployed.

[2020-05-26 07:22] jiangwenyuan commented on #84
It might not relate to disk-loader. I did not observe this kind of behaviours.

Currently I use haproxy main loop to load cache file which has a 1 second limit. I'm looking into haproxy task, might use task to reimplement that, or use linux async io to do that.

[2020-05-26 08:42] igorescobar commented on #84
Yeah I noticed that from the source. The only problem is it causes major performance issues when the number is too high and using the full second to load files.

Using a `task/jobs` approach is similar to what Nginx does I suppose. Every type of `task` has a different level of "priority" and it doesn't "block" the rest of the incoming requests at least not for too long. Using a async approach migh

[2020-05-26 08:44] igorescobar commented on #84
The way it's currently implemented my cache will never be loaded into memory as it is already 50GiB+ and loading into chunks off 100 files will take forever. By the time we are 50% loaded the auto-scaling kicks in and it starts all over again.

[2020-05-26 08:47] packeteer commented on #84
I think Varnish would suit your use case better
https://info.varnish-software.com/blog/varnish-mse-persistence

[2020-05-26 09:02] jiangwenyuan commented on #84
No, it won't.

It is done in master process, neither the task implementation nor current implementation would block incoming requests.

It's only using async disk IO to load cache file instead of current pread/pwrite, it has nothing to do with haproxy.

The whole cache won't be loaded into memory. Only path info and some key info.

I doubt that disk-loader caused this 50% cpu. I never observed a c

[2020-05-26 10:24] igorescobar commented on #84
https://info.varnish-software.com/blog/varnish-mse-persistence

Thanks @packeteer. I've used Varnish in the past, many years ago and I didn't look it up ever since.

Nuster caught my attention initially with their benchmarks up to 3x faster than Nginx etc., and after looking at the caching mechanism a decided to give it a go mostly to see how the MISS/HIT rate would perform compared with Nginx and

[2020-05-26 12:00] jiangwenyuan commented on #84
@igorescobar

I only use `memory on` mode for all my envs. I have a test env with 1.5 million cache files of total 40GB size. I use wrk lua script to load test.

The master process is basically 0.x% cpu. There must be other factors caused the increased cpu usage.

[2020-05-26 12:45] igorescobar commented on #84
@jiangwenyuan
I see. I'm curious to see how would it perform with `disk-loader 100000` and `memory off disk on` and with continuous traffic stream + 2k per minute during 1+ hours.

[2020-05-27 08:43] igorescobar commented on #85
It happened again with the latest stable image:
[code]

[2020-05-27 09:08] igorescobar opened #86 "clean-temp on deleting too much?"
Yesterday I decided to give a go on a flag called `clean-temp on`. My cache was around 50+ GiB and everything was going fine.

This morning the cache was half of it (!) and the number of cache MISS increased a lot. Before only like 10% of the request was actually a MISS and now only ~60-65% is a MISS.

I'm using the latest `stable` docker image.

[2020-05-27 09:15] jiangwenyuan commented on #84
@igorescobar So I did some test with 2 identical servers:

## srv-nuster

[code]

nuster 01 and nuster 02 are using `/cachedata/nuster` as disk directory

## srv-nginx

[code]
nginx 01 and nginx 02 are using `/cachedata/nginx` as disk directory

## config file

### nuster

[code]
nuster1.cfg uses 3001 and nuster2.cfg uses 3002

### nginx

[code]
nginx1.cfg uses 3001 and nginx2.cfg uses 3002

## wr

[2020-05-27 09:17] jiangwenyuan commented on #85
@igorescobar Do you have a core file? Are you able to use gdb to catch the trace?

[2020-05-27 09:18] igorescobar commented on #84
Thanks a lot for putting this together @jiangwenyuan!

What about the Nginx CPU?

[2020-05-27 09:20] jiangwenyuan commented on #86
@igorescobar If you have multiple instances pointing to same directory, you should avoid use clean-temp.

If one instance is creating cache(writing to temp dir), and if another instance starts, it will delete all temp files if clean-temp is on. So the creating by previous instance will fail.

But it has nothing to do with real cache files and requests, as it only happens on start and will stop bef

[2020-05-27 09:26] jiangwenyuan commented on #84
@igorescobar updated

[2020-05-27 09:27] igorescobar commented on #84
What if you do the same test with the disk-loader using the default value of 100?

But this pretty much exemplifies what happened to me. The base CPU of the ECS task increased a lot and when I disabled removed the `disk-loader` flag the CPU when back to the normal levels.

[2020-05-27 09:33] igorescobar commented on #84
If you do this test you might be able to see how much CPU the `disk-loader` can consume if set with a big number like 100k files per cycle.

[2020-05-27 09:34] igorescobar commented on #84
For me, the difference in CPU usage with and without the flag was huge and I wasn't expecting it to consume that much CPU.

[2020-05-27 09:36] igorescobar commented on #85
@jiangwenyuan I can't. Due to the auto-scaling, when this happens the container gets replaced and all the data gets lost.

[2020-05-27 09:39] jiangwenyuan commented on #84
May because the env is different. I started two nuster processes in VM, and using local disk directory directly.
And you are using docker and EFS? Are you able to confirm this in VM?

[2020-05-27 09:41] igorescobar commented on #86
Is there a way to disable the usage of these temp files?

Nginx has this `use_temp_path=on|off` that basically work around temp file issue but I'm not sure how they implemented it.

I hope I'm not annoying you by mentioning Nginx all the time. I'm just using it as a reference so you can compare it with some other tool that does something similar.  😅

[2020-05-27 09:41] jiangwenyuan commented on #85
@igorescobar Tthe config file is similar with this one?

https://github.com/jiangwenyuan/nuster/issues/84#issuecomment-634535587

[2020-05-27 09:43] jiangwenyuan commented on #86
Not at all:)

Nginx uses temp files also, `use_temp_path on|off` just controls where nginx puts the temp files, the one defined by `proxy_temp_path` or the default one.

[2020-05-27 09:46] igorescobar commented on #84
In my case, all containers start in different VMs they are not inside the same machine. Amazon ECS Fargate is like a "container as a service" and they do not run your containers inside of EC2 instances like the previous generation. And all these containers are pointing to the same /nuster/cache EFS volume. We could say that it could be an EFS limitation or something but the % I/O limits never went

[2020-05-27 09:48] igorescobar commented on #86
[code]

[2020-05-27 09:51] igorescobar commented on #86
So, If I got it right... what this does is... instead of saving a temp file somewhere and then move it afterwards to the actual cache directory it will save the temp file directly on the actual official destination.

Would this avoid the creation of temp files that would be there forever if no one cleans it?

[2020-05-27 09:51] igorescobar commented on #85
This is my config:
[code]

[2020-05-27 09:55] jiangwenyuan commented on #84
I understand. I assume EFS is sort of net base, while nuster process and disk in my test reside in same VM.

Yeah, same CPU usage so far.

[2020-05-27 09:58] jiangwenyuan commented on #86
No, nginx creates temp files anyway. If it's in same directory, the move is cheap. If the temp directory is on a different file system, the move is expensive(copy).

[2020-05-27 10:01] igorescobar commented on #86
So, how do I get rid of these temp files running multiple containers? 🤔

[2020-05-27 10:03] jiangwenyuan commented on #85
Ah, `log` is enabled. There is a `log` related segfault issue in haproxy. Not sure if it's related or not.

Let me try with this option. Meanwhile is it too bothered for you to disable log and see if it happens again?

[2020-05-27 10:08] jiangwenyuan commented on #86
No need. If nuster quit normally there's no temp file left. And if there are too many temp files, just delete that. And the temp files is harmless, you can leave them there as long as the disk space is not your concern.  Besides, even if the temp files which is used by some instance are deleted, there's no harm. Next request will create that again.

So as of now, there's no need to worry about tha

[2020-05-27 10:10] igorescobar commented on #85
@jiangwenyuan I can give it a try but the logs are pointing to stdout only, right?

[2020-05-27 10:13] jiangwenyuan commented on #85
Yeah, thanks a lot

[2020-05-27 10:14] igorescobar commented on #86
Ok, So the recommendation is to live is off if you have this 1+ containers/instances pointing to the same volume. 👍

Thanks!

[2020-05-27 10:14] #86 closed

[2020-05-27 10:15] igorescobar commented on #85
How would I know if it happened again the logs are off? 😅

[2020-05-27 10:19] jiangwenyuan commented on #85
I see.. you are using container, and the container gets evicted if segfault happens..

Can we say if there's no segfault, there will be no eviction?

[2020-05-27 10:55] igorescobar commented on #85
The container has health checks. When this happens the container stops responding on properly on the application port and ECS assumes the container needs to be replaced.

So as long as the /health_check route responds with a successful response the container won't be replaced.

[2020-05-27 12:53] jiangwenyuan commented on #85
@igorescobar confirmed it's caused by `log` option.

[2020-05-27 13:10] igorescobar commented on #85
Well, great you managed to reproduce it! At least now we know!

You mentioned an issue open on HAProxy project about this, can you share the link?

[2020-05-27 13:56] jiangwenyuan commented on #85
https://github.com/haproxy/haproxy/issues/648

[2020-05-27 15:19] igorescobar commented on #85
It just happened again. I will deploy it without the logs to see if I at least won't have the application unavailable.

[2020-05-28 03:36] KelvinHuang1102 opened #87 "Disk sync problem (no cache data sync to disk)"
I try to configure my rule to sync cache to disk
When I enable this function, I can't find any cache file in the path.
Not sure what's going on, would you please give me some advice? thanks.

## What's the configuration?

global
    nuster manager on uri /nuster/cache
    nuster cache on data-size 200m dir /usr/local/nuster/cache
     ...
backend bk
     nuster rule r1 disk sync memory on key meth

[2020-05-28 04:00] jiangwenyuan commented on #87
@KelvinHuang1102 Cache data are not saved to disk immediately in disk sync mode. The cache data are saved to memory and will be saved to disk by master process sometime later.

If you need data saved to disk immediately, you can use `disk on` mode

[2020-05-28 04:15] KelvinHuang1102 commented on #87
But I wait for a long time(yesterday to this morning), I still can't see any cached file.
Is need any criteria to trigger this action?

[2020-05-28 04:17] KelvinHuang1102 commented on #87
By the way, if I use disk on mode. Is that mean the cache will save to disk only? or it will also save in memory both?

[2020-05-28 04:20] jiangwenyuan commented on #87
I see. Can you confirm that the data is cached (in memory)? You can check that by `http-response set-header x-cache hit if { nuster.cache.hit }
`

`memory on disk off`: save to memory only
`memory on disk on`: save to both memory and disk
`memory off disk on`: save to disk only
`memory on disk sync`: save to memory and sync to disk later

[2020-05-28 06:36] KelvinHuang1102 commented on #87
I set "memory on disk on", but I got another problem.
I create a cache first and cache file also created.
Then I restart nuster , I try to PURGE cache , it seems not work.
After I send PURGE command and got 200 response but cache still exist!
How can I PURGE cache in disk?

[2020-05-28 07:13] KelvinHuang1102 commented on #87
Do you mean these info?
**DICT**
dict.cache.size:                   1048576
dict.cache.length:                 131072
dict.cache.used:                   1
dict.cache.cleanup_idx:            50000
dict.cache.sync_idx:               4900
**STORE DISK**
store.disk.cache.dir:              /home/ubuntu/cache
store.disk.cache.loaded:           yes

I check stats , it seems already loaded. But I can't PU

[2020-05-28 07:19] jiangwenyuan commented on #87
@KelvinHuang1102 Can you enable debug in config or add `http-response set-header x-cache hit if { nuster.cache.hit }` and do following:

[code]

[2020-05-28 08:06] igorescobar commented on #85
Yeah, disabling logs fixes it.

[2020-05-28 08:13] KelvinHuang1102 commented on #87
Yes... cache file created

Yes...  debug screen shows :  HIT memory

yes... debug screen shows: HIT disk

return 200 OK

And then I send my URL again, the debug screen still shows HIT disk
It's very strange.

[2020-05-28 08:27] igorescobar commented on #82
Well, not sure why but I started to see those drops again on disk usage:
<img width="1591" alt="Screenshot 2020-05-28 at 09 25 53" src="https://user-images.githubusercontent.com/24032/83117661-497aaf80-a0c5-11ea-8490-ba47a7289a72.png">

I removed the flag "wait on" because it was something I added later... just to see if it gets better but I believe there is something removing stuff from disk agai

[2020-05-28 08:28] jiangwenyuan commented on #87
@KelvinHuang1102 can you show me the purge command? And before you do the purge command can you confirm the load is completed?

[2020-05-28 08:31] jiangwenyuan commented on #82
Which part?

[2020-05-28 08:35] KelvinHuang1102 commented on #87
my rule:
nuster rule r1 disk sync memory on key method.scheme.uri.cookie_SessionId if { path /xx/Form.aspx }

send request:
curl -k -v -X GET -u "acc":"pwd" --cookie "SessionId=12345" "https://domain/xx/Form.aspx"

purge command:
curl -k -X PURGE --cookie "SessionId=12345" https://domain/xx/Form.aspx

How to make sure load is completed?

my version:
------------------------------------------------

[2020-05-28 08:36] igorescobar commented on #82
The parts where the writes west to almost zero and the read dropped A LOT.

[2020-05-28 08:43] jiangwenyuan commented on #87
Since you are using basic purge not advanced purge, there's no need to check load.

Let me check.

[2020-05-28 08:44] KelvinHuang1102 commented on #87
OK, thanks!

[2020-05-28 08:47] jiangwenyuan commented on #82
Is there any other suspicious logs/behavious? Is that overall read/write of all containers? Any traffics changes between that time slot?

[2020-05-28 09:13] igorescobar commented on #82
Yes, it's the overall for all containers. Traffic is the same. I think it just didn't go to 0 because one of the containers was still fine and the other don't.

[2020-05-28 09:28] jiangwenyuan commented on #87
@KelvinHuang1102 Fixed, can you use latest H2.1 branch and confirm? Thanks

[2020-05-28 09:32] KelvinHuang1102 commented on #87
Should I download this version again?
https://github.com/jiangwenyuan/nuster/releases/download/v5.0.10.21/nuster-5.0.10.21.tar.gz

[2020-05-28 09:35] jiangwenyuan commented on #87
You can git clone the repo and checkout H2.1, or use this link:
https://github.com/jiangwenyuan/nuster/archive/H2.1.zip

[2020-05-28 09:48] jiangwenyuan commented on #82
Are you mean before 12:00, there were 2 containers and between 12:00~13:00 there were only 1 container and increased to 2 after 13:00?

[2020-05-28 09:49] KelvinHuang1102 commented on #87
This version worked!  Thanks for your quickly support.

[2020-05-28 09:50] jiangwenyuan commented on #87
@KelvinHuang1102 Thanks a lot for reporting:)

[2020-05-28 09:50] #87 closed

[2020-05-28 09:51] igorescobar commented on #82
Not really. During the entire time on this graph, two containers were delivering requests. But the "bug" could only happen in only one of them and that's why on the graph you don't see a drop to 0 but just a BIG drop.

[2020-05-28 09:54] igorescobar commented on #82
Worth mentioning that once this started to happen again the cache size was always around 30GiB and when it wasn't happening the cache easily hit 50GiB. I removed the "wait on" flag and so far it's working. I will wait a few more hours and share the results.

[2020-05-28 09:57] jiangwenyuan commented on #82
~12:00: cache directory size was 50G
12 ~ 13: cache directory size drops to 30G
13:00~: cache directory size grows back to 50G?

[2020-05-28 10:07] igorescobar commented on #82
Let me explain a bit better.
Before using those flags, the cache was around 50GiB. Since everything was going fine I decided to start fine tune the configs. and then I decided to add the `wait on`, `clean-temp on`, and deactivate the logs because of the other bug.

Then you mentioned that the `clean-temp on` wasn't going to work well for my case since we have more than one container using the same

[2020-05-28 10:09] igorescobar commented on #82
I'm not using `Nuster` for 12 days. No deletions should happen.

[2020-05-29 09:44] igorescobar commented on #82
Here it is what happened:

Removing the `wait on` didn't do anything. I also tried to use the latest docker image on DockerHub and the problem are still happening. It might be happening with less frequency but still happening.

The disk stop to be used until the auto-scaling kicks in and replace the container.

[2020-05-29 10:45] jiangwenyuan commented on #82
What exactly does `The disk stop to be used` mean? So between 12~13 we observed read drop and no write. Does the container still response? You mentioned cache miss increasing, if that's true, which means the container is alive and cannot find cache in disk hence fetch from origin and save to disk, in this case, there must be some write happen.

Are you able to do some testing against containers du

[2020-05-29 11:42] igorescobar commented on #82
It happens the same thing as before when we were discussing FD leak issue. For some reason, `Nuster` stops using the disk for reads and writes and all requests starts to be a CACHE MISS.

[2020-05-29 11:43] igorescobar commented on #82
It just seems to be happening with a bigger time interval.

[2020-05-29 12:52] jiangwenyuan commented on #82
Hmm, how do you generate the traffic? unable to reproduce In my test env( using wrk lua script)

[2020-05-29 13:00] igorescobar commented on #82
Unfortunately, it's a % of my production traffic. 😅

[2020-05-30 13:58] skinkie opened #88 "socket.c:661 - assertion `buf != NULL && buf_len > 0' failed"
Below happened on H2.1, I have just updated the branch. So lets see if it happens again.

[code]

[2020-05-31 23:59] jiangwenyuan commented on #82
Stress tested for 2 days, both CPU and disk IO were pretty steady.

[2020-06-01 08:14] igorescobar commented on #82
I appreciate the effort @jiangwenyuan. Unfortunately, there isn't much else I can add to this. I will give Nuster a try again in a few months and let's see what happens.

[2020-06-01 08:19] jiangwenyuan commented on #82
@igorescobar Thank you so much for the testing:)

[2020-06-01 08:21] jiangwenyuan commented on #84
Close for unreproducible

[2020-06-01 08:21] #84 closed

[2020-06-01 08:21] #83 closed

[2020-06-04 13:07] jiangwenyuan commented on #77
Added

[2020-06-04 13:07] #77 closed

[2020-06-04 13:10] igorescobar commented on #77
Nice!

[2020-06-04 13:14] igorescobar commented on #77
When will it be available via Docker?

[2020-06-04 13:18] jiangwenyuan commented on #77
The `latest` image is building on Dockerhub. Note that it's based on `master` branch.

[2020-06-08 14:06] jiangwenyuan commented on #78
Added.

[2020-06-08 14:06] #78 closed

[2020-06-08 15:46] santachago opened #89 "Check key existence: MISS and stats.cache.abort"
## Output of `haproxy -vv` and `uname -a`
Using latest docker image.

[code]
[code]

## What's the configuration?
[code]
On the debug i see:
[code]

## Actual behavior

Request is not being cached.
[code]

## Expected behavior

cached request.

## Do you have any idea what may have caused this?
The only "Special" thing i am doing is changing the Host reader on the request to the upstream server. B

[2020-06-08 18:44] santachago commented on #89
Tried stable and the same happens.
I added the manager and the output is:
[code]

So that abort clearly means something... if i keep hitting the same url all those numbers keep rising.

Hit it 3 more times:
[code]

[2020-06-09 00:36] jiangwenyuan commented on #89
@santachago

[code]

Seems the server aborted the connection(as the memory is sufficient, it's unlikely to fail during the creation), can you add some log?

in global:
[code]
in frontend:
[code]

[2020-06-09 01:48] santachago commented on #89
Hi thanks for the reply
here is the output with those configs
[code]

[2020-06-09 02:04] jiangwenyuan commented on #89
181.170.191.152:60560 [09/Jun/2020:01:44:11.954] fe a/1 0/0/562/377/1125 200 47008 - - **CD--** 1/1/0/0/0 0/0 "GET /pub/media/wysiwyg/40seleccionados3-banner-min.png HTTP/1.1"

**CD--** means:

        C : the TCP session was unexpectedly aborted by the client.
        D : the session was in the DATA phase.

[2020-06-09 03:36] santachago commented on #89
OHHHHH sorry you are totally right, i have just tested using google as the backend and fetching an image worked and got the HIT.
Its all my fault for testing the image with Curl, i have tested my config with the browser and its working. Sorry again for the noise..

I have 1 more question, is there a counter of hits that can be added as a header to the reply?

Thanks and really great software!

[2020-06-09 03:42] santachago commented on #89
This makes me wonder, so if a client makes a connection start downloading a big file and then disconnects in the middle that file wont get cached?

[2020-06-09 04:03] jiangwenyuan commented on #89
Not at all:)

I see:), curl aborts if you don't specify output:)

Not as of now, but I could add that. Well I will add that.

It depends on the timing of when a complete response is returned and when the abort happens.

[2020-06-09 04:07] santachago commented on #89
Dude you are great really, excellent software and fast response...
thanks again!!

[2020-06-09 04:07] #89 closed

[2020-06-09 04:26] jiangwenyuan commented on #89
@santachago Ah, one thing

do you mean the overall total hits, or hits of a single url?

[2020-06-09 05:11] santachago commented on #89
hits to that single url...

[2020-06-09 05:18] jiangwenyuan commented on #89
I see, there's already such counter.

[2020-06-09 12:14] jiangwenyuan commented on #85
Should be fixed in haproxy v2.1.7 and in nuster v5.0.12.21

[2020-06-09 12:14] #85 closed

[2020-07-08 11:56] jiangwenyuan commented on #81
There are several similar bugs fixed in HAProxy v2.2 and I've released v5.2.0.22 which includes all those fixes.

[2020-07-08 11:56] #81 closed

[2020-07-08 11:57] jiangwenyuan commented on #88
Closing...

[2020-07-08 11:57] #88 closed

[2020-07-09 09:13] slw opened #90 "nuster 5.2.0.22 crashed by SIGSEGV"
nuster 5.2.0.22 crashed by SIGSEGV at currently unknow condition.

(gdb) bt
#0  0x00000000005c96e7 in _nst_cache_filter_http_headers (s=0x3806a3c400, filter=0x380bffe100, msg=0x38113e91f0) at src/nuster/cache/filter.c:158
#1  0x00000000004c62b5 in flt_analyze_http_headers (s=0x3806a3c400, chn=0x3806a3c410, an_bit=16384) at src/filters.c:770
#2  0x000000000041e2bb in process_stream (t=0x38113e9140,

[2020-07-09 10:35] jiangwenyuan commented on #90
@slw Thanks for the report, can you share the config file?

[2020-07-09 10:52] slw commented on #90
I am currently attach gdb to faulted process and can do query/inspect.
I am don't know what request is (may be some botnet scaning this ip)

`
global
        master-worker
        maxconn 81920
        nuster cache on data-size 192g
        nuster manager on uri /X/X purge-method MYPURGE
        tune.maxaccept -1
        tune.ssl.default-dh-param 2048
        tune.h2.max-concurrent-streams 8000

[2020-07-09 11:48] jiangwenyuan commented on #90
@slw Thanks, fixed in master branch.

[2020-07-13 10:29] #90 closed

[2020-07-21 13:51] slw opened #91 "A bogus STREAM is spinning at 169874 calls per second and refuses to die, aborting now!"
Jul 21 16:16:08 msk-ixlrt-lv1 nuster[25910]: A bogus STREAM [0x380dba8900] is spinning at 169874 calls per second and refuses to die, aborting now! Please report this error to developers [strm=0x380dba8900 src=85.117.100.10 fe=live be=live dst=unknown rqf=64400000 rqa=4c000 rpf=80000000 rpa=0 sif=EST,200008 sib=INI,10 af=0x0,0 csf=0x381b7fd1c0,104000 ab=0x0,0 csb=0x0,0 cof=0x381b7f90c0,80001300:H1

[2020-07-21 14:19] jiangwenyuan commented on #91
@slw The bogus bug still persists! Can you reproduce this? what's the config file?

[2020-07-21 14:46] slw commented on #91
Don't know -- I am don't controlled traffic.

[code]

[2020-07-21 14:55] slw commented on #91
Last message in log from this IP is

`Jul 21 16:16:07 msk-ixlrt-lv1 nuster[25910]: 85.117.100.10:40745 [21/Jul/2020:16:16:07.199] live~ live/<NUSTER.CACHE.ENGINE> 0/0/0/0/0 200 526 - - ---- 5/5/1/0/0 0/0 "GET /live/vanbur_720p/index.m3u8 HTTP/1.1" `

[2020-07-22 00:08] jiangwenyuan commented on #91
Can you share the output of `thread apply all bt` ?

[2020-07-22 05:37] slw commented on #91
[code]

[2020-07-22 05:47] jiangwenyuan commented on #91
Seems `wait on` is the culprit , can you remove `wait on` and see what happens? Thanks

[2020-07-22 08:41] bestpaydeals opened #92 "How to Install and Configure Nuster on CentOS 8 WordPress?"
Hi,
I want to try Nuster web cache on my CentOS 8 VPS with WordPress running on NGINX. Please help me get any tutorial about How to install and configure Nuster on CentOS 8 NGINX with WordPress?

Varnish is like hair pulling and I am not able to make it work properly as I am trying from 1 year on my SSL site. Now, I see Nuster as a good hope!

Thank you.

[2020-07-22 08:57] jiangwenyuan commented on #92
Hi,

After  you download the source, run

[code]

For other build options, see https://github.com/jiangwenyuan/nuster/blob/master/INSTALL

[2020-07-22 09:32] slw commented on #91
OK, I am try.
I am have question about `wait on`

And see in log file next lines:

[code]

Is this normal?

[2020-07-22 09:48] jiangwenyuan commented on #91
It may happen.

For example,

A                    B                       C                          D
|-------------|--------------|----------------|

A: the time haproxy accept the request
B: the time nuster create an internal representation of the cache object
C: the time the request is sent to backend server
D: the time the response finished

Assuming there are two identical requests.

If req

[2020-07-22 10:03] bestpaydeals commented on #92
I will try building options. But, isn't it's possible to install from repo or rpm package? Also, I am in need of full configuration tutorial for WordPress website on CentOS if possible. Thanks!

[2020-07-22 10:35] jiangwenyuan commented on #92
No, there's no rpm packages.

You can check this example: https://github.com/jiangwenyuan/nuster/wiki/Use-nuster-As-HTTP-Cache-Server

[2020-07-23 01:15] packeteer commented on #92
just as an alternative, there are caching plugins for Wordpress. Have you
tried them?

On Wed, 22 Jul 2020 at 20:35, Jiang Wenyuan <notifications@github.com>
wrote:

[2020-07-23 02:03] bestpaydeals commented on #92
Yes I am using cache plugin. However, I believe that Nuster will speed up more. I want to use cache from server side not from WP. So, I would like to see how Nuster goes.

[2020-07-27 02:44] jiangwenyuan commented on #91
@slw Hi, do you have any updates on this? Does removing `wait on` solve the problem?

[2020-07-30 10:20] HugoS99 commented on #35
I am trying to deploy nuster in a "cluster" (multiple containers) configuration, and the only problem I am having is that while they share the cache in a shared disk and not in memory, the disk loader doesn't synchronize the cache cross the different containers. Is there a way that I can force the disk loader to constantly ensure all containers have the updated cache?

[2020-07-30 11:04] jiangwenyuan commented on #35
@HugoS99 What's your setup? a local disk directory mounted in multiple containers?

[2020-07-30 11:09] HugoS99 commented on #35
@jiangwenyuan It's a Kubernetes Cluster with a shared NFS folder across all containers and it resolves to a single shared folder and multiple containers accessing it

[2020-07-30 11:19] jiangwenyuan commented on #35
@HugoS99 Should work then.  disk loader only loads the cache files metainfo onto memory on startup, it does not sync nor update cache files. Since you are using shared NFS folder, then all containers are seeing the same content, so there's no need to sync. If container 1 create a cache file in the shared NFS folder, container 2 can use that file to serve the identical request.
Make sure you are us

[2020-07-30 11:23] HugoS99 commented on #35
Yeah I know but what happens is since the load process only occurs on startup and is not checking constantly for new cached data what happens is that if a pod dies all other living pods don't "know" all the data that that one pod cached and as such they perform the request again

[2020-07-30 11:39] HugoS99 commented on #35
@jiangwenyuan Want me to create a pull request with my ugly fix?

[2020-07-30 11:56] jiangwenyuan commented on #35
@HugoS99 You are right, and I now understand why #82 high cache MISS issue happens in multiple containers setup.

When the loader is done, nuster does not check disk anymore and only relies on memory, so if another container creates a new file, it does not know.

Thanks for the proposal, but constantly loading does not solve this problem(because it may happen before next round loading) and is not

[2020-07-30 12:05] HugoS99 commented on #35
I agree that a new "cluster" mode should be created, but I believe the constant read is the most generic and more natural way to facilitate this feature the best solution would be to allow the user to set the time between round loading you may see my implementation for reference (where each cycle takes 300ms) simply allow a user to set that value with the clarification that there may be missed cac

[2020-07-30 12:15] jiangwenyuan commented on #35
nst_disk_load does not load all files but several files. If you have like 10M files, it will cause much time to complete the load. And it will generate lots IO.

[2020-07-30 12:21] HugoS99 commented on #35
So  a method that compared all the files already loaded with the not loaded is required with that the solution would be valid right?

[2020-07-30 12:31] jiangwenyuan commented on #35
Yeah. Currently a simplest solution pops up into my head is a new mode that always check disk if does not exists in memory.

So currently the logic is (for disk on memory off):

* check memory(does disk.file exist?)
   * yes, use disk.file
    * no,  loaded?
       * no, check disk (does x/xx/uuid file exist?)
       * yes, goto backend

So the new mode is:

* check memory(does disk.file exist?)

[2020-07-30 12:41] HugoS99 commented on #35
That looks like a great simple solution! If you tell the file where that logic is performed I can try and implement an initial draft solution!

[2020-07-30 12:47] jiangwenyuan commented on #35
Cool! Thanks a lot! I'll update this comment later.

[2020-07-30 15:35] HugoS99 commented on #35
Hey @jiangwenyuan just finished the initial implementation the only thing missing is the delete portion I didn't understand the code so I thought I should ask you do you want a PR for this?

[2020-07-31 00:00] jiangwenyuan commented on #35
@HugoS99 Sure, thanks

[2020-07-31 02:39] #92 closed

[2020-08-03 03:28] KelvinHuang1102 opened #94 "Can't bind socket with port 80 or 443"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

[2020-08-03 03:34] jiangwenyuan commented on #94
@KelvinHuang1102 Are you using root to start?

[2020-08-03 03:42] KelvinHuang1102 commented on #94
No, I use general account.

[2020-08-03 03:44] KelvinHuang1102 commented on #94
Should I use root permission?

[2020-08-03 03:55] jiangwenyuan commented on #94
@KelvinHuang1102 Yes, if you need to bind 80/443

[2020-08-03 04:06] KelvinHuang1102 commented on #94
Got it. thanks your reply.

[2020-08-03 05:15] #94 closed

[2020-08-08 01:24] #91 closed

[2020-08-13 11:07] Hellerprime opened #95 "detailed setup guide for noobs"
Dears can anyone help with setting up nuster as cache server
i am not a pro at all
Best Regards

[2020-08-13 13:10] jiangwenyuan commented on #95
@Hellerprime

Since I have no idea of your environment, so I will show you how to setup as a simple cache server and you can start from there.

Assume you have a backend http server at 10.10.10.10:8080, and you want to cache all requests for 1 minute.

First you need to install it

[code]

Then you need create a config file:

[code]

save it to `nuster.cfg` and start with `./haproxy -f nuster.cfg`

[2020-08-14 14:39] #95 closed

[2020-08-19 13:29] sigginet opened #96 "How does Nuster serve stale cache responses?"
After a bit of trial and error, I've managed to set up a caching proxy using Nuster.

When I'm testing the cache and the stale data functionality, I am unsure of how the stale data functionality works.

I expected the functionality to be `stale-while-revalidate`, but it appears to be `stale-if-error` from what I am experiencing in my tests.

Here's a bit of info on both types: https://tools.ietf.o

[2020-08-19 13:37] sigginet commented on #96
NGINX has a similar functionality with background refresh: https://www.nginx.com/blog/nginx-caching-guide/#Fine%E2%80%91Tuning-the-Cache-and-Improving-Performance

You need to use these two directives:
[code]

[2020-08-19 14:32] jiangwenyuan commented on #96
@sigginet

Let's say we have a cached response of request `/test`, which has a ttl of 100 seconds.

After 100 seconds, the cache is expired(assume no `extend`).

Suppose request A '/test' comes in at 101 seconds, another request B comes in at 102 seconds, and request C comes in at 110 seconds. (Assume backend needs 5 seconds to handle the request)

1. `use-stale off`

A will be forwarded to backen

[2020-08-20 11:16] sigginet commented on #96
Thanks for the clarification @jiangwenyuan

We're adding a cache where we want to pre-cache a lot of data, but each entry will not be hit often at the same time, so it's likely that very few requests (<1%) will receive the stale cache after TTL expires.

Is there a way for me to trigger a cache update manually with a key or something before the TTL expires?

[2020-08-20 13:03] jiangwenyuan commented on #96
@sigginet No, not as of now..I have plan to extend haproxy lua to support more cache functionalities, this one could be a good candidate.

But why do you need to do that, is that any other way to achieve what you really want?

[2020-08-29 05:23] #96 closed

[2020-08-30 16:44] sigginet commented on #96
@jiangwenyuan I need this to preload cache and then serve stale cache responses to the users while updating silently in the background.

The preloaded entries will result in 90% of entries never getting hit.

I could achieve this by aggressively precaching, but that will just be a waste of server resources on our end and other backends.

The goal is to have a fast user experience for all the most

[2020-08-31 09:36] Hellerprime commented on #95
Dear im trying to install and the following error when using make
tried centos , ubuntu
 make TARGET=linux-glibc
/bin/sh: 1: gcc: not found
  CC      src/ev_poll.o
/bin/sh: 1: gcc: not found
Makefile:887: recipe for target 'src/ev_poll.o' failed
make: *** [src/ev_poll.o] Error 127

[2020-08-31 14:11] jiangwenyuan commented on #95
https://github.com/jiangwenyuan/nuster/blob/master/INSTALL#L83

[2020-09-02 07:06] aleksystasiak opened #97 "Suspicious cpu activity"
Hello
I'm using nuster version 5.2.2.22
While everything is working as expected I noticed that on every machine where nuster runs 1 cpu core has always 100% use.
It does not matter if nuster is doing any work, it's just always on 100% and it's always one core.
Is that expected behaviour ?

I'm running nuster as systemd service in master-worker mode with nbthread enabled.

[code]

[2020-09-02 10:17] jiangwenyuan commented on #97
@aleksystasiak Thanks, can you share the config file(remove sensitive data if any)?

[2020-09-02 12:04] aleksystasiak commented on #97
[code]

[2020-09-02 12:10] aleksystasiak commented on #97
Kinda off topic but look at tracking requests by path in commented section of imgproxy frontend and commented table in BK_ALL, something like this could be internal nuster function (cache only if url hits > n)

[2020-09-02 12:29] jiangwenyuan commented on #97
@aleksystasiak Thanks, how to trigger this bug? I started with this config, but failed reproducing.

Does it happen as soon as you start the program? Does it happen if you start it directly instead of systemd(./haproxy -f conf)? Is the master process or worker process using 100% CPU?

[2020-09-02 12:40] aleksystasiak commented on #97
Yes, as soon I start nuster one core is at 100% used. I'm starting using systemd and standard haproxy systemd service.
Just now, I changed config and service file to disable master-worker mode - still same result from service.
Running manually (with nohup)  both in master-worker mode and without yields same result as from service.

[2020-09-02 12:41] aleksystasiak commented on #97
![Zrzut ekranu z 2020-09-02 14-40-51](https://user-images.githubusercontent.com/23705608/91982372-71178e80-ed2a-11ea-869f-c7b338471fb9.png)

[2020-09-02 13:02] jiangwenyuan commented on #97
@aleksystasiak Seems it's a haproxy bug, can you remove `-s` and see what happens?

[2020-09-02 13:11] aleksystasiak commented on #97
I may be wrong but it seems debian buster is only os on which I see problem, just compiled same version under ubuntu 20.04 and it seems to work fine.

[2020-09-02 13:13] jiangwenyuan commented on #97
Can you check the haproxy parameters by `ps` to see if there's `-s`? I can reproduce using haproxy v2.3 master  by `haproxy -f -c config`

[2020-09-02 13:19] aleksystasiak commented on #97
After introducing config attached here, I see 100% cpu on ubuntu.
As for starting parameters, haproxy refuses to start if I try to run it manually without any parameters besides config file (with master-worker commented out)
Running with -s seems to start haproxy but it does not work.
Running with -W or -Ws (or master-worker in config) causes cpu problem.

[2020-09-02 13:29] jiangwenyuan commented on #97
`master-worker` or `-W` is needed by nuster. just remove `-s` and see if it still happens.

[2020-09-02 13:31] aleksystasiak commented on #97
![Zrzut ekranu z 2020-09-02 15-31-12](https://user-images.githubusercontent.com/23705608/91989904-5b599780-ed31-11ea-9b63-c5922746861f.png)

[2020-09-02 13:44] jiangwenyuan commented on #97
Weird. I cannot reproduce using above config file. Exactly same config file?
Can you gdb the process?

BTW, I've raised the `-s` bug: https://github.com/haproxy/haproxy/issues/837

[2020-09-02 13:58] aleksystasiak commented on #97
I don't know how to use gdb, it complains about missing sources when I try to attach it to process.
Strace produces:
[code]

[2020-09-02 14:00] aleksystasiak commented on #97
Config file is identical, only frontends bind addr are different.
The same sections are commented out.

[2020-09-02 14:12] aleksystasiak commented on #97
Also a sidenote, removing s from -Ws causes issues when using systemd service. (Probablu because it enables notifications for systemd)

[2020-09-02 23:57] jiangwenyuan commented on #97
@aleksystasiak Unable to reproduce and seems nothing suspicious. Can you git clone the repo and check again?

[code]

And the `-s` bug has been fixed in haproxy and I have patched in https://github.com/jiangwenyuan/nuster/tree/issue97
Can you also verify with this branch?

[2020-09-03 07:59] aleksystasiak commented on #97
Cloned and compiled according to instructions:
[code]

[code]

[2020-09-03 08:00] ronald opened #98 "unable to get advanced purging by host to work"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior
1. Request to example.com
`curl https://example.com`
2. Check /nuster stats to see hit
`curl nuster/nuster`

[code]
3. curl to remove everything on example.com from cache
`curl -XDELETE -H "host: example.com" http://nuster/nuster`

## Actual behavior
3. returns `Not F

[2020-09-03 11:53] aleksystasiak commented on #97
I managed to start nuster through dbg, what to do next ?

[2020-09-03 13:21] jiangwenyuan commented on #97
type `n` and multiple `enter`

[2020-09-03 13:27] jiangwenyuan commented on #98
@ronald Can you add `debug` in global section and try followings:

[code]
and check the debug key log?

[2020-09-03 13:28] aleksystasiak commented on #97
[code]

[2020-09-03 13:34] jiangwenyuan commented on #97
@aleksystasiak  16991 seems normal. Can you type more enter until `cur_poller.poll(&cur_poller, next, wake);`, should hang there for 1 second.

Both 16991 and 16993 use 100% CPU? and can you try 16993 also?

[2020-09-03 13:43] aleksystasiak commented on #97
This time its 14018 and 14020
14018:
[code]
14020:
[code]
14018 takes 100% of one core as usual (actually about 80% this time - don't know why) and burns cpu time
14020 does not use cpu at all (because there is no traffic i presume)

[2020-09-03 13:45] jiangwenyuan commented on #97
Thanks, can you do more enter  in 14018 gdb and check if `3000                    cur_poller.poll(&cur_poller, next, wake);` hangs for 1 second?

[2020-09-03 13:46] aleksystasiak commented on #97
Yes it does hang a little while in comparison to other steps

[2020-09-03 13:48] aleksystasiak commented on #97
![Zrzut ekranu z 2020-09-03 15-48-00](https://user-images.githubusercontent.com/23705608/92123388-df2c8600-edfc-11ea-8474-23f059500bfb.png)

[2020-09-03 13:53] jiangwenyuan commented on #97
Hmm...then how come the master uses ~100% CPU usage...

[2020-09-03 13:55] jiangwenyuan commented on #97
Do you mind send me the exact config file(/etc/haproxy/haproxy.cfg) without any redaction to my email?

[2020-09-03 14:05] aleksystasiak commented on #97
Did you get it ?

[2020-09-03 14:16] jiangwenyuan commented on #97
Yes, thanks a lot. and confirm 100% usage!

[2020-09-03 14:44] jiangwenyuan commented on #97
@aleksystasiak As a temporary workaround, append `dir /any/path` to `        nuster cache on data-size 9000m dict-size 1648576
`

[2020-09-03 14:51] jiangwenyuan commented on #98
@ronald `Bad Request` is expected, as you need to specify `-H "mode: cache"`(I just find out that I have not updated the document example)

[2020-09-03 15:25] ronald commented on #98
Thank you very much.

Btw if you extend the documentation, you might add a note that `disk async` and `disk only` no longer exist, and especially that `disk sync` now works differently (save data to memory and disk vs cache data periodically).

The old configuration can still be found in articles like https://dev.to/nuster/nuster-a-cache-server-based-on-haproxy-now-supports-disk-persistence-purgin

[2020-09-03 15:25] #98 closed

[2020-09-03 15:38] aleksystasiak commented on #97
Workaround does the trick.
Thank you

[2020-09-03 15:40] jiangwenyuan commented on #98
Sorry about that, I will update these

[2020-09-03 15:42] ronald opened #99 "advanced purging by regex does not purge matching urls with query strings"
## Steps to reproduce the behavior
`curl -XDELETE -H"mode: cache" -H"regex: /events-termine/" https://www.waren.m-vp.de/nuster`
`OK`

`curl -XPURGE -H"host: www.waren.m-vp.de" https://www.waren.m-vp.de/events-termine/?page=2`
`OK`

`curl -XPURGE -H"host: www.waren.m-vp.de" https://www.waren.m-vp.de/events-termine/?page=2`
`Not Found`

## Actual behavior
First request does not purge URLs like https

[2020-09-04 01:43] jiangwenyuan commented on #99
[code]

[2020-09-04 07:16] ronald commented on #99
Create and check HIT
`curl -H"host: www.waren.m-vp.de" "nuster/events-termine/?page=2" > /dev/null`
[code]

Clear Cache using regex
`curl -XDELETE -H"mode: cache" -H"regex: /events-termine/" http://nuster/nuster`
[code]

Check HIT again
`curl -H"host: www.waren.m-vp.de" "nuster/events-termine/?page=2" > /dev/null`
[code]
It's "HIT memory". Still in cache.

[2020-09-04 07:31] jiangwenyuan commented on #99
I see, you are using different host.

Try this
[code]

[2020-09-04 09:25] jiangwenyuan commented on #97
@aleksystasiak Thank you so much for the help, I've fixed and pushed to 5.2 branch.

[2020-09-04 12:50] ronald commented on #99
Thank you very much. So it is a question of documentation. I thought "regex" scans all paths independently from host and I didn't realize that I can combine host and regex headers because I only read that in certain cases other headers are ignored.

Now that I know, I also noticed the hint in

Maybe it would be convenient to extend the regex section:
1. regex is host relative / always works for ex

[2020-09-04 12:50] #99 closed

[2020-09-04 13:00] jiangwenyuan commented on #99
Sorry for the misleading document, welcome to send a patch to improve the document:)

[2020-09-06 03:10] jiangwenyuan commented on #97
Feel free to reopen if the bug still persists.

[2020-09-06 03:10] #97 closed

[2020-09-17 03:09] milipili opened #100 "Request stuck forever when caching empty responses"
## Output of `haproxy -vv` and `uname -a`

[code]
[code]

## What's the configuration?

Ran manually as
[code]

[code]

## Steps to reproduce the behavior

* Starting with empty cache directory (cleaned via `rm -rf` if needed)
* Send a request (using POST, didnt tried with other methods), from an empty cache
[code]
   Works perfectly, the result is fetched from the backend and returned (result is

[2020-09-17 05:24] milipili commented on #100
Here is the inner cache. By using that cache content it should be able to be reproduced right away

[code]
[cache-inner-content.zip](https://github.com/jiangwenyuan/nuster/files/5236527/cache-inner-content.zip)

[2020-09-17 15:14] jiangwenyuan commented on #100
@milipili Thanks for the reporting, so there's no issue?

[2020-09-18 01:42] milipili commented on #100
The issue is definitively here, i am sorry :)

[2020-09-18 03:15] jiangwenyuan commented on #100
@milipili
Can you enable debug and post the log here?

[code]

[2020-09-18 06:44] milipili commented on #100
The key has been replaced. I can prepare one with a simple one if needed
[code]

[2020-09-18 06:51] jiangwenyuan commented on #100
Do you mean the key in the cache file?

Can you provide the way to reproduce?

[2020-09-18 06:59] milipili commented on #100
I mean the url of the POST.

Never receive any response indeed
![image](https://user-images.githubusercontent.com/5516919/93566277-be9d2800-f9c7-11ea-9637-864d642fab00.png)

Seems that nuster has came back already in the main loop
![image](https://user-images.githubusercontent.com/5516919/93566337-dd032380-f9c7-11ea-8e97-23d7ac020928.png)

[2020-09-18 07:06] milipili commented on #100
Ok I think I see. The response is indeed empty. When taken from memory, no problem, but when reloaded from disk, the response, perhaps because 0, is never sent back

[2020-09-18 12:25] jiangwenyuan commented on #100
@milipili I see, the response's content length is 0.

[2020-09-18 12:50] jiangwenyuan commented on #100
@milipili Fixed in branch 5.2, can you try that? Thanks

[2020-09-19 05:08] milipili commented on #100
So far so good thankls. Let me run a couple of more tests

[2020-09-25 09:09] #100 closed

[2020-09-25 09:09] milipili commented on #100
Seems working fine so far :)

[2020-09-27 16:39] dario30186 commented on #97
hello @jiangwenyuan ,
could you build docker image with the fix and push it in https://hub.docker.com/r/nuster/nuster pls ?

[2020-09-28 06:28] jiangwenyuan commented on #97
@dario30186 Yes, I will release a new version today.

[2020-10-02 15:44] pakit84 opened #101 "Slowdown server throughput"
Hello,
we are doing some stress test of our webserver in order to fine tune our system.
We've notice that putting nuster in front of our tomcat server the throughput reduce by 1/5.
In order to test we have a simple endpoint: (GET) /test that does not return any content, just an http code 200.

We've used apache ab tool to stress test the server in the following way:
**ab -k -n 100000 -c 1000 xxxxx

[2020-10-03 00:54] packeteer commented on #101
I thought nbthread had replaced nbproc ?!?

On Sat, 3 Oct 2020 at 01:45, pakit84 <notifications@github.com> wrote:

[2020-10-03 01:04] jiangwenyuan commented on #101
@pakit84 Can you remove `option http-server-close` and try again?

[2020-10-03 09:05] pakit84 commented on #101
hello @jiangwenyuan , It doesn't make so much difference, but I understand that is better to remove this option. What indeed is making a lot of difference, 10X faster is when I do the test using directly the ip address in the url

ab -k -n 100000 -c 1000 <ip_address>/users/test I can get up to 10K req/s
ab -k -n 100000 -c 1000 https://foo.com/users/test I barely get 1K req/s

[2020-10-03 10:29] jiangwenyuan commented on #101
@pakit84 Seems there's no default backend when you use ip_address. Does `curl <ip_address>/users/test` return normal response?

[2020-10-03 10:49] pakit84 commented on #101
@jiangwenyuan you're right there's no default backend to handle this request. So please ignore it.
So, to recap deactivating option http-server-close I get 1200 req/sec while without nuster 5100 req/s

[2020-10-03 11:29] jiangwenyuan commented on #101
@pakit84 You mentioned that  /test only returns 200 without any content. but the ab shows:

Non-2xx responses: 100000
Keep-Alive requests: 99453
Total transferred: 31184137 bytes
HTML transferred: 12500000 bytes

which is not 200. can you double check that?

[2020-10-03 19:23] dario30186 commented on #101
Hi @jiangwenyuan ,
I work with @pakit84 . We have a load balancer on DigitalOcean and two servers with Nuster with maxConn 2000.
Everything works fine except when we send a push notification to all our users where we have more or less 300 req/s (according to digital ocean charts). So we never reach the limit of 2000 req/s set in nuster.

Unfortunately many requests go into timeout after 20 seconds